# How did Tony Gwynn perform vs HOF pitchers?

In [1]:
import pandas as pd
import numpy as np

import boxball_loader as bbl
import baseball_stats_utils as utils

In [2]:
cols = ['bat_team_id', 'fld_team_id', 'bat_id', 'pit_id','bat_event_fl', 'bat_hand_cd', 'pit_hand_cd', 
        'event_cd', 'game_id', 'ab_fl', 'h_fl']
pa = bbl.load_event_data(1982, 2001, cols)

In [3]:
hof = bbl.load_hall_of_famers()
hof

,Year,Name,Unnamed: 2,Voted By,Inducted As,Votes,% of Ballots,bbref_id
0,2022,Bud Fowler,1858-1913,Veterans,Pioneer/Executive,NaN,NaN,fowlebu99
1,2022,Gil Hodges,1924-1972,Veterans,Player,NaN,NaN,hodgegi01
2,2022,Jim Kaat,1938-Living,Veterans,Player,NaN,NaN,kaatji01
3,2022,Minnie Minoso,1925-2015,Veterans,Player,NaN,NaN,minosmi01
4,2022,Buck O'Neil,1911-2006,Veterans,Pioneer/Executive,NaN,NaN,oneilbu01
...,...,...,...,...,...,...,...,...
335,1936,Ty Cobb,1886-1961,BBWAA,Player,222.0,98.2%,cobbty01
336,1936,Walter Johnson,1887-1946,BBWAA,Player,189.0,83.6%,johnswa01
337,1936,Christy Mathewson,1880-1925,BBWAA,Player,205.0,90.7%,mathech01
338,1936,Babe Ruth,1895-1948,BBWAA,Player,215.0,95.1%,ruthba01
339,1936,Honus Wagner,1874-1955,BBWAA,Player,215.0,95.1%,wagneho01

In [4]:
ppl = bbl.load_people()
hof = pd.merge(left=hof, right=ppl[['bbref_id', 'retro_id',]], on='bbref_id')
hof

,Year,Name,Unnamed: 2,Voted By,Inducted As,Votes,% of Ballots,bbref_id,retro_id
0,2022,Gil Hodges,1924-1972,Veterans,Player,NaN,NaN,hodgegi01,hodgg101
1,2022,Jim Kaat,1938-Living,Veterans,Player,NaN,NaN,kaatji01,kaatj101
2,2022,Minnie Minoso,1925-2015,Veterans,Player,NaN,NaN,minosmi01,minom101
3,2022,Tony Oliva,1938-Living,Veterans,Player,NaN,NaN,olivato01,olivt102
4,2022,David Ortiz,1975-Living,BBWAA,Player,307.0,77.9%,ortizda01,ortid001
...,...,...,...,...,...,...,...,...,...
332,1936,Ty Cobb,1886-1961,BBWAA,Player,222.0,98.2%,cobbty01,cobbt101
333,1936,Walter Johnson,1887-1946,BBWAA,Player,189.0,83.6%,johnswa01,johnw102
334,1936,Christy Mathewson,1880-1925,BBWAA,Player,205.0,90.7%,mathech01,mathc102
335,1936,Babe Ruth,1895-1948,BBWAA,Player,215.0,95.1%,ruthba01,ruthb101
336,1936,Honus Wagner,1874-1955,BBWAA,Player,215.0,95.1%,wagneho01,wagnh101

In [5]:
hofers = hof[hof['Inducted As']=='Player']['retro_id'].values
hofers

array(['hodgg101', 'kaatj101', 'minom101', 'olivt102', 'ortid001',
       'jeted001', 'simmt001', 'walkl001', 'bainh001', 'hallr001',
       'marte001', 'mussm001', 'rivem002', 'smitl001', 'guerv001',
       'hofft001', 'jonec004', 'morrj001', 'thomj002', 'trama001',
       'bagwj001', 'raint001', 'rodri001', 'grifk002', 'piazm001',
       'biggc001', 'johnr005', 'martp001', 'smolj001', 'glavt001',
       'maddg002', 'thomf001', 'whitd102', 'larkb001', 'santr102',
       'alomr001', 'blylb001', 'dawsa001', 'gordj101', 'hendr001',
       'ricej001', 'gossr001', 'gwynt001', 'ripkc001', 'browr103',
       'broww101', 'coopa101', None, None, None, None, 'suttb001', None,
       None, None, None, 'boggw001', 'sandr001', 'ecked001', 'molip001',
       'cartg001', 'murre001', 'smito001', 'mazeb101', 'puckk001', None,
       'winfd001', 'fiskc001', 'mcphb101', 'peret001', None, 'bretg001',
       'cepeo101', 'ryann001', None, 'younr001', 'davig102', 'dobyl101',
       None, 'suttd001', 'fox-n101', 'niekp001', None, 'bunnj101', None,
       'ashbr101', 'day-l101', 'schmm001', 'willv101', 'carls001',
       'rizzp101', 'jackr001', 'fingr001', 'newhh101', 'seavt001',
       'carer001', 'jenkf101', 'lazzt101', 'perrg101', 'morgj001',
       'palmj001', 'bencj101', 'schor101', 'yastc101', 'starw101',
       'dandr101', 'huntj101', 'willb104', 'doerb101', 'lombe101',
       'mccow101', 'brocl102', 'slaue101', 'vauga101', 'wilhh101',
       'aparl101', 'drysd101', 'ferrr101', 'killh102', 'reesp101',
       'kellg102', 'marij101', 'robib104', 'aaroh101', 'jackt101',
       'robif103', 'gibsb101', 'mizej101', 'kalia101', 'kleic101',
       'snidd101', 'maysw101', 'wilsh102', 'jossa101', 'mathe101',
       'banke101', 'dihim101', None, 'rusia101', 'sewej101', 'charo101',
       'connr102', 'lemob101', 'lindf101', 'rober102', 'avere101',
       'hermb101', None, 'kiner101', 'bellj103', 'bottj101', 'fordw101',
       'mantm101', 'thoms103', 'clemr101', 'irvim101', 'kellg101',
       'spahw101', 'welcm102', 'berry101', None, 'gomel102', 'koufs101',
       None, 'wynne101', 'younr101', 'bancd101', 'beckj103', 'hafec101',
       'hooph101', 'kellj106', 'marqr102', 'paigs101', 'boudl101',
       'combe101', 'hainj101', 'campr102', 'coves101', 'hoytw101',
       'musis101', 'cuylk101', 'goslg101', 'medwj101', 'ruffr101',
       'wanel101', 'willt103', 'galvj103', 'appll101', 'faber101',
       'grimb101', 'keeft101', 'manuh101', 'wardm101', 'clarj102',
       'flice101', 'rices101', 'rixee101', 'fellb101', 'robij103',
       'rouse101', 'carem101', 'hamib101', 'wheaz101', 'craws101',
       'cronj101', 'greeh102', 'bakef102', 'dimaj101', 'hartg103',
       'lyont102', 'schar103', 'vancd101', 'dickb101', 'marar101',
       'terrb101', 'bendc101', 'deand102', 'simma101', 'wallb101',
       'heilh101', 'wanep101', 'foxxj101', 'ott-m101', 'browm102',
       'gehrc101', 'nichk101', 'pennh101', 'trayp101', 'cochm101',
       'frisf101', 'grovl101', 'hubbc101', 'burkj101', 'chanf101',
       'chesj101', 'everj102', 'mccat103', 'mcgij101', 'plane101',
       'tinkj101', 'waddr101', 'walse101', 'bresr102', 'broud101',
       'clarf101', 'collj103', 'delae101', 'duffh101', 'jennh101',
       'kellk101', 'orouj103', 'hornr101', 'ansoc101', 'colle101',
       'ewinb101', 'gehrl101', 'keelw101', 'radbc101', 'sislg101',
       'alexg102', 'lajon101', 'speat101', 'younc102', 'cobbt101',
       'johnw102', 'mathc102', 'ruthb101', 'wagnh101'], dtype=object)

In [6]:
pa.columns.values

array(['game_id', 'date', 'game_type', 'ab_fl', 'bat_hand_cd', 'pit_id',
       'tb_ct', 'bat_id', 'bat_team_id', 'event_cd', 'fld_team_id',
       'pit_hand_cd', 'bat_event_fl', 'h_fl', 'ob_fl', 'yr'], dtype=object)

In [7]:
tg = pa[pa['bat_id']=='gwynt001']
tg

,game_id,date,game_type,ab_fl,bat_hand_cd,pit_id,tb_ct,bat_id,bat_team_id,event_cd,fld_team_id,pit_hand_cd,bat_event_fl,h_fl,ob_fl,yr
92909,SDN198207190,1982-07-19,RS,False,L,krukm001,0,gwynt001,SDN,2,PHI,R,True,0,0,1982
92932,SDN198207190,1982-07-19,RS,True,L,mongs001,0,gwynt001,SDN,2,PHI,L,True,0,0,1982
92949,SDN198207190,1982-07-19,RS,True,L,mongs001,0,gwynt001,SDN,3,PHI,L,True,0,0,1982
92974,SDN198207190,1982-07-19,RS,True,L,mongs001,2,gwynt001,SDN,21,PHI,L,True,1,1,1982
92986,SDN198207190,1982-07-19,RS,True,L,reedr001,1,gwynt001,SDN,20,PHI,R,True,1,1,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3484778,SFN200109300,2001-09-30,RS,True,L,nen-r001,0,gwynt001,SDN,3,SFN,R,True,0,0,2001
3488602,SDN200110040,2001-10-04,RS,False,L,tromm001,0,gwynt001,SDN,14,LAN,R,True,0,1,2001
3490601,SDN200110050,2001-10-05,RS,True,L,jimej001,0,gwynt001,SDN,2,COL,R,True,0,0,2001
3491437,SDN200110060,2001-10-06,RS,True,L,whitg001,2,gwynt001,SDN,21,COL,L,True,1,1,2001
3492827,SDN200110070,2001-10-07,RS,True,L,jimej001,0,gwynt001,SDN,2,COL,R,True,0,0,2001

In [8]:
tg['pit_id'].value_counts()

maddg002    103
glavt001     99
scotm001     95
browt001     92
mulht001     90
           ...
carta001      1
thobt001      1
choub001      1
rodrf001      1
hergm001      1
Name: pit_id, Length: 878, dtype: int64

In [9]:
vs_hof = tg.query('pit_id in @hofers')
vs_hof

,game_id,date,game_type,ab_fl,bat_hand_cd,pit_id,tb_ct,bat_id,bat_team_id,event_cd,fld_team_id,pit_hand_cd,bat_event_fl,h_fl,ob_fl,yr
93954,SDN198207200,1982-07-20,RS,True,L,carls001,0,gwynt001,SDN,3,PHI,L,True,0,0,1982
93969,SDN198207200,1982-07-20,RS,True,L,carls001,0,gwynt001,SDN,2,PHI,L,True,0,0,1982
93985,SDN198207200,1982-07-20,RS,True,L,carls001,0,gwynt001,SDN,2,PHI,L,True,0,0,1982
94002,SDN198207200,1982-07-20,RS,True,L,carls001,0,gwynt001,SDN,2,PHI,L,True,0,0,1982
101890,ATL198207280,1982-07-28,RS,True,L,niekp001,0,gwynt001,SDN,2,ATL,R,True,0,0,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3336627,SDN200105080,2001-05-08,RS,True,L,maddg002,1,gwynt001,SDN,20,ATL,R,True,1,1,2001
3336642,SDN200105080,2001-05-08,RS,True,L,maddg002,0,gwynt001,SDN,2,ATL,R,True,0,0,2001
3336658,SDN200105080,2001-05-08,RS,True,L,maddg002,0,gwynt001,SDN,2,ATL,R,True,0,0,2001
3448980,ATL200108220,2001-08-22,RS,True,L,maddg002,0,gwynt001,SDN,2,ATL,R,True,0,0,2001
3467859,ARI200109070,2001-09-07,RS,True,L,johnr005,0,gwynt001,SDN,2,ARI,L,True,0,0,2001

In [10]:
utils.summarize_events(vs_hof, 'bat_id')

,pa,ob,ab,h,tb,k,bb,ibb,hr,ba,obp,slg,woba,k%,bb%,hr%
bat_id,,,,,,,,,,,,,,,,
gwynt001,503,176,467,155,201,25,21,9,4,0.331906,0.349901,0.430407,0.321972,0.049702,0.04175,0.007952

In [11]:
vs_hof['event_cd'].value_counts()

2     289
20    121
21     26
3      25
14     21
15      9
18      4
22      4
23      4
Name: event_cd, dtype: int64

In [12]:
vs_hof['pit_id'].value_counts()

maddg002    103
glavt001     99
smolj001     68
ryann001     67
martp001     36
smitl001     22
carls001     22
niekp001     17
suttd001     16
ecked001     14
seavt001     14
johnr005     12
suttb001     10
gossr001      1
hofft001      1
jenkf101      1
Name: pit_id, dtype: int64