In [1]:
# Monte-Carlo playoff odds
# Generate my own playoff odds

# For now, I'm focusing on the mechanics of the simulation, and less so on the inputs (e.g., the projected team quality)
# So I'm using 538's win probabilities for each game, rather than computing my own

# I'm also using 538's results/schedule data, because it is so easy to use

import pandas as pd
import numpy as np

In [2]:
# Read in the 538 dataset, which has a row for each game in the current season (played or unplayed)
gms = pd.read_csv('../data/538/mlb-elo/mlb_elo_latest.csv')
gms

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,2021-10-03,2021,0,NaN,ATL,NYM,1556.061995,1486.538702,0.631432,0.368568,...,58.278107,54.245129,23.976540,14.429515,0.608903,0.391097,NaN,NaN,NaN,NaN
1,2021-10-03,2021,0,NaN,STL,CHC,1538.522333,1448.501418,0.658442,0.341558,...,52.293738,46.314494,7.889568,3.349706,0.642413,0.357587,NaN,NaN,NaN,NaN
2,2021-10-03,2021,0,NaN,SEA,ANA,1507.363792,1475.740561,0.579371,0.420629,...,50.489752,NaN,7.908674,NaN,0.546707,0.453293,NaN,NaN,NaN,NaN
3,2021-10-03,2021,0,NaN,LAD,MIL,1600.568471,1545.521105,0.611835,0.388165,...,58.417971,56.160037,11.880021,0.125749,0.634612,0.365388,NaN,NaN,NaN,NaN
4,2021-10-03,2021,0,NaN,KCR,MIN,1472.094994,1482.146490,0.520063,0.479937,...,41.879897,43.950882,-36.551138,-27.088053,0.489689,0.510311,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,2021-04-01,2021,0,NaN,PHI,ATL,1499.854980,1537.334830,0.480611,0.519389,...,56.982418,53.435208,25.593166,-0.900219,0.537195,0.462805,1507.143856,1532.557621,3.0,2.0
2425,2021-04-01,2021,0,NaN,CHC,PIT,1510.606166,1466.885465,0.596242,0.403758,...,56.657868,47.268712,35.374576,-2.657647,0.687642,0.312358,1504.178744,1435.619713,3.0,5.0
2426,2021-04-01,2021,0,NaN,MIL,MIN,1502.386929,1522.960488,0.504931,0.495069,...,57.894228,57.914464,34.030150,17.163499,0.533019,0.466981,1518.710560,1536.695871,6.0,5.0
2427,2021-04-01,2021,0,NaN,DET,CLE,1450.437505,1513.164945,0.444496,0.555504,...,47.172259,61.318392,-0.833903,43.767481,0.378466,0.621534,1447.667412,1511.947362,3.0,2.0
2428,2021-04-01,2021,0,NaN,NYY,TOR,1540.629874,1499.393681,0.592794,0.407206,...,64.078782,55.252245,44.482355,35.170897,0.624955,0.375045,1570.975244,1520.453518,2.0,3.0

In [3]:
gms.columns

Index(['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre',
       'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post',
       'rating1_pre', 'rating2_pre', 'pitcher1', 'pitcher2', 'pitcher1_rgs',
       'pitcher2_rgs', 'pitcher1_adj', 'pitcher2_adj', 'rating_prob1',
       'rating_prob2', 'rating1_post', 'rating2_post', 'score1', 'score2'],
      dtype='object')

In [4]:
# Split out the games that have been played vs those remaining
played = gms.dropna(subset=['score1']) # games that have a score
remain = gms.loc[gms.index.difference(played.index)] # all other games
played.shape, remain.shape

((2336, 26), (93, 26))

# Define some functions that will be used in the simulation

In [5]:
def compute_standings(gms_played):
    margins = gms_played['score1']-gms_played['score2']
    winners = pd.Series(np.where(margins>0, gms_played['team1'], gms_played['team2']))
    losers  = pd.Series(np.where(margins<0, gms_played['team1'], gms_played['team2']))
    standings = pd.concat([winners.value_counts().rename('W'), losers.value_counts().rename('L')], axis=1)
    return standings

compute_standings(played)

       W    L
SFG  102   54
LAD  100   56
TBD   97   59
MIL   94   62
HOU   91   65
NYY   89   67
CHW   88   68
BOS   88   68
STL   87   69
TOR   87   69
SEA   86   70
OAK   85   71
ATL   83   72
CIN   81   75
PHI   81   75
SDP   78   78
CLE   76   79
DET   75   80
ANA   74   82
NYM   73   82
COL   71   84
KCR   71   84
MIN   69   87
CHC   67   89
WSN   64   92
FLA   64   91
PIT   58   97
TEX   57   99
BAL   50  106
ARI   50  106

In [6]:
#  Create a data frame with the league/division mappings, to use to determine playoff berths
divisions = pd.DataFrame({
'SFG': ['N','NW'],
'LAD': ['N','NW'],
'TBD': ['A','AE'],
'MIL': ['N','NC'],
'HOU': ['A','AW'],
'CHW': ['A','AC'],
'BOS': ['A','AE'],
'NYY': ['A','AE'],
'TOR': ['A','AE'],
'OAK': ['A','AW'],
'SEA': ['A','AW'],
'SDP': ['N','NW'],
'ATL': ['N','NE'],
'CIN': ['N','NC'],
'PHI': ['N','NE'],
'STL': ['N','NC'],
'NYM': ['N','NE'],
'ANA': ['A','AW'],
'CLE': ['A','AC'],
'DET': ['A','AC'],
'CHC': ['N','NC'],
'COL': ['N','NW'],
'KCR': ['A','AC'],
'MIN': ['A','AC'],
'FLA': ['N','NE'],
'WSN': ['N','NE'],
'TEX': ['A','AW'],
'PIT': ['N','NC'],
'BAL': ['A','AE'],
'ARI': ['N','NW']
 }).T

divisions.columns = ['lg', 'div']
divisions

    lg div
SFG  N  NW
LAD  N  NW
TBD  A  AE
MIL  N  NC
HOU  A  AW
CHW  A  AC
BOS  A  AE
NYY  A  AE
TOR  A  AE
OAK  A  AW
SEA  A  AW
SDP  N  NW
ATL  N  NE
CIN  N  NC
PHI  N  NE
STL  N  NC
NYM  N  NE
ANA  A  AW
CLE  A  AC
DET  A  AC
CHC  N  NC
COL  N  NW
KCR  A  AC
MIN  A  AC
FLA  N  NE
WSN  N  NE
TEX  A  AW
PIT  N  NC
BAL  A  AE
ARI  N  NW

In [7]:

def sim_rem_games(remain):
    # Generate a random number for each game
    randoms = pd.Series(np.random.rand(len(remain)))
    randoms.index = remain.index

    # Figure out the winners and losers
    winners = pd.Series(np.where(randoms<remain['rating_prob1'], remain['team1'], remain['team2']))
    losers = pd.Series(np.where(randoms>remain['rating_prob1'], remain['team1'], remain['team2']))

    # Compute and return the standings
    standings = pd.concat([winners.value_counts().rename('W'), losers.value_counts().rename('L')], axis=1).fillna(0)
    for col in standings.columns: # convert to int
        standings[col] = standings[col].apply(int)
    return standings

sim_rem_games(remain)

     W  L
LAD  5  1
FLA  5  2
CIN  5  1
BOS  5  1
ANA  5  1
SFG  5  1
CLE  5  2
TOR  4  2
HOU  4  2
CHC  3  3
ATL  3  3
OAK  3  3
NYY  3  3
STL  3  3
CHW  3  3
PHI  3  3
MIL  3  3
MIN  3  3
TEX  2  4
NYM  2  5
PIT  2  5
KCR  2  5
DET  2  5
TBD  2  4
BAL  2  4
ARI  2  4
SEA  2  4
COL  2  4
WSN  2  4
SDP  1  5

In [8]:
cur_standings = compute_standings(played)
rem_standings = sim_rem_games(remain)
full_standings = cur_standings+rem_standings
full_standings

       W    L
ANA   76   86
ARI   53  109
ATL   87   74
BAL   51  111
BOS   93   69
CHC   68   94
CHW   92   70
CIN   84   78
CLE   80   82
COL   75   86
DET   78   84
FLA   66   96
HOU   94   68
KCR   74   88
LAD  102   60
MIL   96   66
MIN   73   89
NYM   75   87
NYY   95   67
OAK   88   74
PHI   86   76
PIT   62  100
SDP   80   82
SEA   91   71
SFG  106   56
STL   92   70
TBD   98   64
TEX   59  103
TOR   89   73
WSN   66   96

In [9]:
# find playoff teams
def find_playoff_teams(standings):
    standings['wpct'] = standings['W'] / (standings['W'] + standings['L'])

    # Merge in the div/lg data
    standings['div'] = divisions['div']
    standings['lg'] = divisions['lg']

    # Rather than model out all the tie-breakers, I'm assuming that they are all random (not exactly true, but close enough),
    # and so I'm just generating a random number for each team, and we break ties by comparing that random num for each of the tied teams.
    # This is *so* much simpler and faster than modeling all the different scenarios.
    # It might be worth modeling them out with 1-2 days left in the season, but for most of the season, I way prefer using the random num to break ties
    standings['rand'] = np.random.rand(len(standings))

    # Now sort, and break ties using the rand
    sorted = standings.sort_values(by=['wpct', 'rand'], ascending=False)

    div_winners =  list(sorted.groupby(['div']).head(1).index.values)

    wc_contenders = sorted[~sorted.index.isin(div_winners)]
    wc_winners = list(wc_contenders.groupby(['lg']).head(2).index.values)


    return div_winners + wc_winners

     

full_standings, find_playoff_teams(full_standings)

(       W    L      wpct div lg      rand
 ANA   76   86  0.469136  AW  A  0.677065
 ARI   53  109  0.327160  NW  N  0.585973
 ATL   87   74  0.540373  NE  N  0.155326
 BAL   51  111  0.314815  AE  A  0.517711
 BOS   93   69  0.574074  AE  A  0.503218
 CHC   68   94  0.419753  NC  N  0.662898
 CHW   92   70  0.567901  AC  A  0.698468
 CIN   84   78  0.518519  NC  N  0.211526
 CLE   80   82  0.493827  AC  A  0.631513
 COL   75   86  0.465839  NW  N  0.827221
 DET   78   84  0.481481  AC  A  0.227151
 FLA   66   96  0.407407  NE  N  0.708921
 HOU   94   68  0.580247  AW  A  0.179373
 KCR   74   88  0.456790  AC  A  0.750877
 LAD  102   60  0.629630  NW  N  0.092588
 MIL   96   66  0.592593  NC  N  0.252730
 MIN   73   89  0.450617  AC  A  0.187639
 NYM   75   87  0.462963  NE  N  0.202930
 NYY   95   67  0.586420  AE  A  0.439382
 OAK   88   74  0.543210  AW  A  0.800722
 PHI   86   76  0.530864  NE  N  0.404050
 PIT   62  100  0.382716  NC  N  0.314283
 SDP   80   82  0.493827  NW  N  0.340357
 SEA   91   71  0.561728  AW  A  0.009315
 SFG  106   56  0.654321  NW  N  0.998093
 STL   92   70  0.567901  NC  N  0.602228
 TBD   98   64  0.604938  AE  A  0.435065
 TEX   59  103  0.364198  AW  A  0.077831
 TOR   89   73  0.549383  AE  A  0.859916
 WSN   66   96  0.407407  NE  N  0.804549,
 ['SFG', 'TBD', 'MIL', 'HOU', 'CHW', 'ATL', 'LAD', 'NYY', 'BOS', 'STL'])

In [10]:
%%prun -s cumulative # This runs the code profiler, which creates data I can use to find opportunities for me to speed up the code

[find_playoff_teams(full_standings) for _ in range(1000)]
None # This is to suppress printing the output, which is 1000 lines of the same list of teams

         8259896 function calls (8190896 primitive calls) in 3.905 seconds

   Ordered by: cumulative time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    3.905    3.905 {built-in method builtins.exec}
        1    0.000    0.000    3.905    3.905 <string>:3(<module>)
        1    0.010    0.010    3.905    3.905 <string>:3(<listcomp>)
     1000    0.034    0.000    3.895    0.004 <ipython-input-9-d4cf20c5399b>:2(find_playoff_teams)
     2000    0.013    0.000    1.162    0.001 groupby.py:2764(head)
     1000    0.011    0.000    1.038    0.001 frame.py:5417(sort_values)
    12000    0.032    0.000    1.013    0.000 frame.py:2987(__getitem__)
     1000    0.030    0.000    0.736    0.001 sorting.py:264(lexsort_indexer)
     3000    0.006    0.000    0.673    0.000 frame.py:3049(_getitem_bool_array)
     4000    0.022    0.000    0.673    0.000 managers.py:1454(take)
     4000    0.010    0.000    0.663    0.000 frame.py:3147(__setitem__)
     2000    0.036    0.000    0.657    0.000 groupby.py:940(_cumcount_array)
     6000    0.015    0.000    0.649    0.000 managers.py:1260(reindex_indexer)
     4000    0.008    0.000    0.643    0.000 frame.py:3231(_set_item)
    20000    0.087    0.000    0.640    0.000 algorithms.py:1661(take_nd)
     3000    0.006    0.000    0.612    0.000 generic.py:3591(_take_with_is_copy)
     4000    0.036    0.000    0.575    0.000 algorithms.py:536(factorize)
     3000    0.012    0.000    0.564    0.000 generic.py:3492(take)
    14000    0.027    0.000    0.554    0.000 blocks.py:1368(take_nd)
     2000    0.014    0.000    0.545    0.000 categorical.py:300(__init__)
     4000    0.011    0.000    0.498    0.000 managers.py:1311(<listcomp>)
     4000    0.014    0.000    0.479    0.000 frame.py:3833(_sanitize_column)
     2000    0.002    0.000    0.473    0.000 ops.py:298(group_info)
     2000    0.005    0.000    0.471    0.000 ops.py:316(_get_compressed_codes)
     2000    0.002    0.000    0.460    0.000 ops.py:257(codes)
     2000    0.001    0.000    0.458    0.000 ops.py:259(<listcomp>)
     4000    0.002    0.000    0.457    0.000 grouper.py:588(codes)
     2000    0.006    0.000    0.455    0.000 grouper.py:609(_make_codes)
     3000    0.007    0.000    0.431    0.000 frame.py:3853(reindexer)
     2000    0.003    0.000    0.363    0.000 series.py:4337(reindex)
     2000    0.014    0.000    0.359    0.000 generic.py:4564(reindex)
     2000    0.003    0.000    0.334    0.000 common.py:50(new_method)
  1515988    0.200    0.000    0.331    0.000 {built-in method builtins.isinstance}
     2000    0.006    0.000    0.325    0.000 series.py:4992(_arith_method)
     2000    0.011    0.000    0.277    0.000 frame.py:6603(groupby)
     9000    0.019    0.000    0.271    0.000 generic.py:3783(_get_item_cache)
     2000    0.006    0.000    0.264    0.000 generic.py:4815(_reindex_axes)
6000/4000    0.056    0.000    0.262    0.000 base.py:250(__new__)
     2000    0.010    0.000    0.261    0.000 groupby.py:518(__init__)
     2000    0.025    0.000    0.250    0.000 grouper.py:635(get_grouper)
    20000    0.067    0.000    0.246    0.000 cast.py:542(maybe_promote)
     9998    0.024    0.000    0.244    0.000 series.py:238(__init__)
     4000    0.015    0.000    0.222    0.000 algorithms.py:2055(safe_sort)
    20000    0.055    0.000    0.189    0.000 algorithms.py:1534(_get_take_nd_function)
     1000    0.001    0.000    0.189    0.000 arraylike.py:87(__add__)
     4000    0.012    0.000    0.185    0.000 algorithms.py:496(factorize_array)
    14000    0.024    0.000    0.184    0.000 base.py:4393(equals)
     2000    0.004    0.000    0.175    0.000 series.py:2734(_construct_result)
    56000    0.064    0.000    0.172    0.000 _dtype.py:321(_name_get)
   133000    0.066    0.000    0.168    0.000 common.py:1470(is_extension_array_dtype)
     2000    0.008    0.000    0.165    0.000 generic.py:4854(_reindex_with_indexers)
     6000    0.003    0.000    0.162    0.000 dtypes.py:159(__init__)
     6000    0.005    0.000    0.158    0.000 dtypes.py:308(_finalize)
     4000    0.012    0.000    0.151    0.000 dtypes.py:481(validate_categories)
    85000    0.032    0.000    0.148    0.000 base.py:254(is_dtype)
     4000    0.005    0.000    0.146    0.000 generic.py:3824(_set_item)
     1000    0.001    0.000    0.138    0.000 arraylike.py:111(__truediv__)
     1000    0.004    0.000    0.133    0.000 sorting.py:252(indexer_from_factorized)
   522000    0.094    0.000    0.129    0.000 generic.py:30(_check)
     4000    0.008    0.000    0.129    0.000 generic.py:3820(_iset_item)
     8000    0.021    0.000    0.121    0.000 algorithms.py:73(_ensure_data)
     4000    0.057    0.000    0.115    0.000 managers.py:1057(iset)
     4000    0.004    0.000    0.108    0.000 algorithms.py:282(get_data_algo)
     2000    0.006    0.000    0.108    0.000 managers.py:1327(_slice_take_blocks_ax0)
     1000    0.002    0.000    0.107    0.000 frame.py:5442(<listcomp>)
     5998    0.020    0.000    0.107    0.000 managers.py:998(iget)
     2000    0.008    0.000    0.106    0.000 generic.py:1640(_get_label_or_level_values)
     9000    0.011    0.000    0.105    0.000 missing.py:367(array_equivalent)
    99000    0.053    0.000    0.103    0.000 common.py:1610(_is_dtype_type)
     2000    0.008    0.000    0.101    0.000 array_ops.py:159(arithmetic_op)
    32000    0.033    0.000    0.100    0.000 {built-in method numpy.core._multiarray_umath.implement_array_function}
     5998    0.009    0.000    0.093    0.000 frame.py:3306(_box_col_values)
     2000    0.005    0.000    0.092    0.000 base.py:3478(reindex)
    43000    0.017    0.000    0.089    0.000 construction.py:354(extract_array)
    48000    0.025    0.000    0.084    0.000 common.py:201(is_object_dtype)
   133000    0.056    0.000    0.084    0.000 base.py:411(find)
    56000    0.023    0.000    0.082    0.000 _dtype.py:307(_name_includes_bit_suffix)
    31994    0.029    0.000    0.080    0.000 generic.py:5467(__setattr__)
    19998    0.016    0.000    0.079    0.000 blocks.py:288(make_block_same_class)
    15998    0.042    0.000    0.078    0.000 generic.py:5411(__finalize__)
    10000    0.006    0.000    0.076    0.000 common.py:573(is_string_dtype)
    19998    0.008    0.000    0.076    0.000 {built-in method builtins.all}
     2000    0.002    0.000    0.076    0.000 generic.py:3606(xs)
     1000    0.002    0.000    0.073    0.000 base.py:5141(isin)
     1000    0.006    0.000    0.073    0.000 sorting.py:592(compress_group_index)
     4000    0.028    0.000    0.073    0.000 index_tricks.py:316(__getitem__)
     1000    0.008    0.000    0.072    0.000 algorithms.py:415(isin)
    10000    0.005    0.000    0.070    0.000 common.py:1551(_is_dtype)
    21998    0.035    0.000    0.070    0.000 blocks.py:127(__init__)
    28000    0.069    0.000    0.069    0.000 {method 'reduce' of 'numpy.ufunc' objects}
    14000    0.007    0.000    0.069    0.000 {built-in method builtins.any}
     4000    0.002    0.000    0.068    0.000 algorithms.py:274(_get_values_for_rank)
    25000    0.009    0.000    0.067    0.000 {method 'any' of 'numpy.ndarray' objects}
    31000    0.013    0.000    0.066    0.000 common.py:537(is_categorical_dtype)
     2000    0.006    0.000    0.065    0.000 array_ops.py:118(_na_arithmetic_op)
    22000    0.017    0.000    0.065    0.000 common.py:1341(is_bool_dtype)
   778000    0.059    0.000    0.064    0.000 {built-in method builtins.getattr}
     8000    0.004    0.000    0.063    0.000 common.py:602(condition)
     2000    0.008    0.000    0.063    0.000 construction.py:423(sanitize_array)
     9000    0.039    0.000    0.062    0.000 {pandas._libs.lib.infer_dtype}
     6000    0.003    0.000    0.060    0.000 common.py:605(is_excluded_dtype)
    34000    0.022    0.000    0.059    0.000 numerictypes.py:360(issubdtype)
340994/273994    0.044    0.000    0.059    0.000 {built-in method builtins.len}
     2000    0.002    0.000    0.058    0.000 expressions.py:218(evaluate)
    25000    0.007    0.000    0.058    0.000 _methods.py:53(_any)
     4000    0.004    0.000    0.055    0.000 generic.py:4797(<genexpr>)
     1000    0.006    0.000    0.054    0.000 sorting.py:612(_reorder_by_uniques)
     9998    0.003    0.000    0.054    0.000 managers.py:157(blknos)
    24000    0.006    0.000    0.053    0.000 common.py:610(<genexpr>)
     2000    0.002    0.000    0.052    0.000 expressions.py:98(_evaluate_numexpr)
     2000    0.024    0.000    0.051    0.000 managers.py:232(_rebuild_blknos_and_blklocs)
    20000    0.014    0.000    0.051    0.000 cast.py:698(_ensure_dtype_type)
    22000    0.011    0.000    0.051    0.000 common.py:388(is_datetime64tz_dtype)
     3000    0.003    0.000    0.051    0.000 indexing.py:2238(check_bool_indexer)
     2000    0.003    0.000    0.049    0.000 managers.py:1577(from_array)
     4000    0.008    0.000    0.049    0.000 base.py:742(take)
   536000    0.049    0.000    0.049    0.000 {built-in method builtins.issubclass}
     2000    0.001    0.000    0.048    0.000 base.py:4472(identical)
    20000    0.009    0.000    0.048    0.000 common.py:463(is_period_dtype)
   102000    0.047    0.000    0.047    0.000 {built-in method numpy.array}
    17998    0.017    0.000    0.046    0.000 series.py:538(name)
    20000    0.008    0.000    0.045    0.000 common.py:499(is_interval_dtype)
    74000    0.017    0.000    0.045    0.000 _asarray.py:14(asarray)
     4000    0.023    0.000    0.044    0.000 indexers.py:225(maybe_convert_indices)
     2000    0.003    0.000    0.044    0.000 blocks.py:2711(make_block)
     1000    0.021    0.000    0.043    0.000 sorting.py:93(get_group_index)
     3000    0.018    0.000    0.040    0.000 sorting.py:567(get_group_index_sorter)
    40000    0.020    0.000    0.039    0.000 {pandas._libs.lib.is_list_like}
    16000    0.011    0.000    0.038    0.000 dtypes.py:923(is_dtype)
    14000    0.004    0.000    0.038    0.000 missing.py:50(isna)
    14000    0.016    0.000    0.037    0.000 managers.py:206(shape)
     2000    0.003    0.000    0.037    0.000 base.py:2189(hasnans)
     2000    0.008    0.000    0.037    0.000 base.py:3142(get_indexer)
     2000    0.003    0.000    0.037    0.000 construction.py:554(_try_cast)
     3000    0.002    0.000    0.037    0.000 <__array_function__ internals>:2(prod)
    16000    0.010    0.000    0.036    0.000 dtypes.py:1132(is_dtype)
     4000    0.008    0.000    0.036    0.000 algorithms.py:291(_check_object_for_strings)
    68000    0.020    0.000    0.035    0.000 numerictypes.py:286(issubclass_)
     2000    0.031    0.000    0.035    0.000 {method 'factorize' of 'pandas._libs.hashtable.StringHashTable' objects}
     2000    0.009    0.000    0.034    0.000 grouper.py:439(__init__)
     4000    0.007    0.000    0.034    0.000 algorithms.py:188(_reconstruct_data)
    14000    0.008    0.000    0.034    0.000 missing.py:133(_isna)
    13998    0.026    0.000    0.034    0.000 generic.py:188(__init__)
     2000    0.005    0.000    0.033    0.000 blocks.py:2662(get_block_type)
     5000    0.009    0.000    0.033    0.000 numerictypes.py:569(find_common_type)
     3000    0.004    0.000    0.032    0.000 fromnumeric.py:2881(prod)
     3000    0.009    0.000    0.032    0.000 indexers.py:363(check_array_indexer)
    17998    0.008    0.000    0.030    0.000 common.py:1743(validate_all_hashable)
     2000    0.026    0.000    0.029    0.000 {method 'factorize' of 'pandas._libs.hashtable.Float64HashTable' objects}
     6000    0.003    0.000    0.029    0.000 algorithms.py:231(_ensure_arraylike)
    70000    0.020    0.000    0.029    0.000 common.py:1575(get_dtype)
     9998    0.008    0.000    0.029    0.000 base.py:3036(get_loc)
     3000    0.007    0.000    0.028    0.000 fromnumeric.py:70(_wrapreduction)
    29000    0.028    0.000    0.028    0.000 {built-in method numpy.empty}
     2000    0.004    0.000    0.028    0.000 expressions.py:72(_can_use_numexpr)
     5000    0.003    0.000    0.026    0.000 generic.py:5534(_consolidate_inplace)
     2000    0.001    0.000    0.025    0.000 base.py:2168(_isnan)
     8000    0.011    0.000    0.025    0.000 base.py:425(_simple_new)
     3000    0.004    0.000    0.024    0.000 cast.py:1273(maybe_infer_to_datetimelike)
    22000    0.011    0.000    0.024    0.000 common.py:615(is_dtype_equal)
     8000    0.010    0.000    0.023    0.000 _ufunc_config.py:32(seterr)
    14000    0.008    0.000    0.023    0.000 common.py:757(is_signed_integer_dtype)
    16000    0.006    0.000    0.023    0.000 inference.py:185(is_array_like)
     5000    0.004    0.000    0.023    0.000 generic.py:5522(_protect_consolidate)
     2000    0.004    0.000    0.022    0.000 expressions.py:62(_evaluate_standard)
    40000    0.008    0.000    0.022    0.000 managers.py:208(<genexpr>)
     3000    0.021    0.000    0.021    0.000 {pandas._libs.algos.groupsort_indexer}
     2000    0.004    0.000    0.021    0.000 dtypes.py:518(update_dtype)
    44000    0.010    0.000    0.021    0.000 abc.py:96(__instancecheck__)
    14000    0.007    0.000    0.021    0.000 common.py:813(is_unsigned_integer_dtype)
     4000    0.004    0.000    0.020    0.000 base.py:510(_shallow_copy)
    10000    0.014    0.000    0.019    0.000 numerictypes.py:545(_can_coerce_all)
    25998    0.012    0.000    0.019    0.000 series.py:488(name)
    12000    0.006    0.000    0.019    0.000 common.py:1307(is_float_dtype)
    40000    0.014    0.000    0.019    0.000 common.py:1769(pandas_dtype)
     2000    0.013    0.000    0.019    0.000 base.py:1764(is_unique)
     4000    0.002    0.000    0.019    0.000 managers.py:150(from_blocks)
     2000    0.016    0.000    0.019    0.000 {method 'get_indexer' of 'pandas._libs.index.IndexEngine' objects}
    45998    0.013    0.000    0.019    0.000 inference.py:322(is_hashable)
     2000    0.004    0.000    0.018    0.000 base.py:6023(_maybe_cast_data_without_dtype)
    62000    0.013    0.000    0.018    0.000 base.py:600(__len__)
     4000    0.005    0.000    0.018    0.000 algorithms.py:1570(take)
     4000    0.005    0.000    0.018    0.000 frame.py:502(__init__)
     5000    0.004    0.000    0.018    0.000 generic.py:5538(f)
    68000    0.012    0.000    0.018    0.000 common.py:187(<lambda>)
     2000    0.001    0.000    0.017    0.000 <__array_function__ internals>:2(diff)
     4000    0.002    0.000    0.017    0.000 series.py:620(array)
     4000    0.003    0.000    0.017    0.000 _ufunc_config.py:433(__enter__)
     2000    0.007    0.000    0.017    0.000 missing.py:202(_isna_ndarraylike)
     2000    0.005    0.000    0.017    0.000 numeric.py:47(__new__)
     6000    0.017    0.000    0.017    0.000 {pandas._libs.algos.take_1d_int64_int64}
     4000    0.008    0.000    0.016    0.000 managers.py:126(__init__)
     4000    0.003    0.000    0.016    0.000 <__array_function__ internals>:2(atleast_2d)
     4000    0.009    0.000    0.016    0.000 generic.py:1596(_check_label_or_level_ambiguity)
    21000    0.014    0.000    0.016    0.000 base.py:4230(__contains__)
     2000    0.005    0.000    0.015    0.000 cast.py:1257(maybe_castable)
     6000    0.008    0.000    0.015    0.000 missing.py:465(_array_equivalent_object)
    18000    0.007    0.000    0.015    0.000 common.py:429(is_timedelta64_dtype)
     3000    0.003    0.000    0.015    0.000 common.py:75(is_bool_indexer)
     9000    0.015    0.000    0.015    0.000 {method 'argsort' of 'numpy.ndarray' objects}
     9998    0.007    0.000    0.015    0.000 base.py:5287(_maybe_cast_indexer)
    35996    0.008    0.000    0.014    0.000 common.py:1762(<genexpr>)
     2000    0.012    0.000    0.014    0.000 function_base.py:1152(diff)
     4000    0.014    0.000    0.014    0.000 blocks.py:354(set_inplace)
     4000    0.002    0.000    0.014    0.000 blocks.py:239(array_values)
    21998    0.012    0.000    0.014    0.000 blocks.py:269(mgr_locs)
     4000    0.013    0.000    0.013    0.000 {pandas._libs.algos.take_2d_axis1_float64_float64}
     7998    0.006    0.000    0.013    0.000 series.py:439(_set_axis)
     1000    0.005    0.000    0.013    0.000 cast.py:1379(maybe_cast_to_datetime)
    92000    0.011    0.000    0.013    0.000 {built-in method builtins.hasattr}
     4000    0.006    0.000    0.012    0.000 common.py:198(asarray_tuplesafe)
    10000    0.005    0.000    0.012    0.000 base.py:5953(maybe_extract_name)
    34000    0.012    0.000    0.012    0.000 {method 'format' of 'str' objects}
    11000    0.012    0.000    0.012    0.000 {built-in method numpy.arange}
    12000    0.003    0.000    0.012    0.000 _asarray.py:86(asanyarray)
     4000    0.006    0.000    0.012    0.000 numpy_.py:156(__init__)
     4000    0.003    0.000    0.012    0.000 <__array_function__ internals>:2(concatenate)
     8000    0.010    0.000    0.011    0.000 base.py:563(_reset_identity)
    13000    0.011    0.000    0.011    0.000 {method 'astype' of 'numpy.ndarray' objects}
     5000    0.002    0.000    0.011    0.000 managers.py:975(consolidate)
     4000    0.011    0.000    0.011    0.000 {pandas._libs.algos.take_2d_axis1_int64_int64}
     4000    0.008    0.000    0.011    0.000 shape_base.py:82(atleast_2d)
     1000    0.010    0.000    0.011    0.000 {method 'get_labels_groupby' of 'pandas._libs.hashtable.Int64HashTable' objects}
    44000    0.011    0.000    0.011    0.000 {built-in method _abc._abc_instancecheck}
    11000    0.003    0.000    0.011    0.000 managers.py:681(is_consolidated)
     2000    0.011    0.000    0.011    0.000 {method 'cumsum' of 'numpy.ndarray' objects}
     4000    0.002    0.000    0.011    0.000 _ufunc_config.py:438(__exit__)
    14000    0.008    0.000    0.011    0.000 generic.py:470(_get_axis)
     2000    0.004    0.000    0.010    0.000 generic.py:1541(_is_label_reference)
     2000    0.002    0.000    0.010    0.000 dtypes.py:182(_from_values_or_dtype)
     7000    0.006    0.000    0.010    0.000 indexing.py:2204(convert_to_index_sliceable)
    68000    0.010    0.000    0.010    0.000 common.py:185(classes)
    56000    0.010    0.000    0.010    0.000 _dtype.py:24(_kind_name)
     4000    0.010    0.000    0.010    0.000 {pandas._libs.algos.take_2d_axis1_object_object}
     5998    0.007    0.000    0.010    0.000 base.py:4279(__getitem__)
     2000    0.002    0.000    0.010    0.000 base.py:5969(_maybe_cast_with_dtype)
     5998    0.003    0.000    0.009    0.000 generic.py:3409(_set_as_cached)
     7000    0.006    0.000    0.009    0.000 <frozen importlib._bootstrap>:1017(_handle_fromlist)
     7000    0.003    0.000    0.009    0.000 series.py:585(_values)
     8000    0.008    0.000    0.009    0.000 _ufunc_config.py:132(geterr)
     6000    0.003    0.000    0.009    0.000 common.py:355(is_datetime64_dtype)
     1000    0.009    0.000    0.009    0.000 {pandas._libs.hashtable.ismember_object}
     2000    0.002    0.000    0.008    0.000 <__array_function__ internals>:2(where)
     4000    0.003    0.000    0.008    0.000 blocks.py:719(should_store)
     2000    0.005    0.000    0.008    0.000 cast.py:1617(construct_1d_object_array_from_listlike)
    15998    0.008    0.000    0.008    0.000 flags.py:83(allows_duplicate_labels)
    31000    0.005    0.000    0.008    0.000 common.py:195(<lambda>)
     9998    0.007    0.000    0.008    0.000 managers.py:1545(__init__)
    66998    0.008    0.000    0.008    0.000 {built-in method builtins.hash}
     4000    0.003    0.000    0.008    0.000 <__array_function__ internals>:2(can_cast)
     8000    0.008    0.000    0.008    0.000 {method 'take' of 'numpy.ndarray' objects}
    33000    0.008    0.000    0.008    0.000 {method 'get' of 'dict' objects}
     2000    0.001    0.000    0.008    0.000 cast.py:984(coerce_indexer_dtype)
    13998    0.008    0.000    0.008    0.000 flags.py:47(__init__)

In [11]:
def finish_one_season(incoming_standings, remain):
    rem_standings = sim_rem_games(remain)
    full_standings = incoming_standings+rem_standings
    playoff_teams = find_playoff_teams(full_standings)
    return playoff_teams

finish_one_season(cur_standings, remain)

['SFG', 'TBD', 'MIL', 'HOU', 'CHW', 'ATL', 'LAD', 'BOS', 'STL', 'TOR']

In [12]:
#
def sim_n_seasons(incoming_standings, remain, n):
    # The first 6 teams in the list are div winners, the rest are WCs
    return pd.DataFrame([{'sim': i, 'finish': 'div' if t[0] < 6 else 'wc', 'tm': t[1]}  
        for i in range(n) 
        for t in enumerate(finish_one_season(incoming_standings, remain)) 
        ])

sim_results = sim_n_seasons(cur_standings, remain, 10)
sim_results

    sim finish   tm
0     0    div  SFG
1     0    div  MIL
2     0    div  TBD
3     0    div  HOU
4     0    div  CHW
..  ...    ...  ...
95    9    div  CHW
96    9     wc  LAD
97    9     wc  BOS
98    9     wc  STL
99    9     wc  TOR

[100 rows x 3 columns]

In [13]:
# Count the number of div/wc/playoff appearances by team from a set of results
def summarize_sim_results(df_results):
    summary = df_results[['tm', 'finish']].value_counts().unstack().fillna(0)
    for col in summary.columns:
        summary[col] = summary[col].apply(int)
    summary['playoffs'] = summary['div'] + summary['wc']
    return summary

summarize_sim_results(sim_results)

finish  div  wc  playoffs
tm
ATL       9   0         9
BOS       0   7         7
CHW      10   0        10
HOU      10   0        10
LAD       1   9        10
MIL      10   0        10
NYY       0   9         9
PHI       1   0         1
SEA       0   1         1
SFG       9   1        10
STL       0  10        10
TBD      10   0        10
TOR       0   3         3

In [14]:
summarize_sim_results(sim_n_seasons(cur_standings, remain, 10))

finish  div  wc  playoffs
tm
ATL       6   0         6
BOS       0   9         9
CHW      10   0        10
HOU      10   0        10
LAD       2   8        10
MIL      10   0        10
NYY       0   6         6
PHI       4   0         4
SFG       8   2        10
STL       0  10        10
TBD      10   0        10
TOR       0   5         5

# Now put it all together and simulate a large number of seasons
## (Possibly multiple times, for comparison)

In [15]:
#%%prun  -s cumulative

# We want to simulate the rest of the season a large number of times (e.g., 1000 or 100K or more)
# We also want to run multiple of these sets, to observe the variation across different runs
# So we run trials of num_seasons seasons, num_trials times

NUM_SEASONS = 10*1000
NUM_TRIALS = 5

# Collect just the number of playoff appearances for now, since we'll compare playoff appearance percentagees
def run_trial(incoming_standings, remaining_gms, num_seasons):
    return summarize_sim_results(sim_n_seasons(incoming_standings, remaining_gms, num_seasons))['playoffs']

# Run the sims
totals = pd.concat([run_trial(cur_standings, remain, NUM_SEASONS) for _ in range(NUM_TRIALS)], axis=1)

# Fill in blanks (and convert to ints)
totals = totals.fillna(0).apply(lambda col: col.apply(int))

totals

     playoffs  playoffs  playoffs  playoffs  playoffs
tm
ATL      9367      9397      9392      9358      9402
BOS      7766      7761      7716      7776      7732
CHW     10000     10000     10000     10000     10000
HOU      9991      9993      9991      9991      9989
LAD     10000     10000     10000     10000     10000
MIL     10000     10000     10000     10000     10000
NYY      7556      7610      7503      7502      7631
OAK        56        49        53        53        50
PHI       633       603       608       642       598
SEA       607       619       657       620       584
SFG     10000     10000     10000     10000     10000
STL     10000     10000     10000      9996      9999
TBD     10000     10000     10000     10000     10000
TOR      4024      3968      4080      4058      4014
CIN         0         0         0         4         1

In [16]:
# Average across the trials, to compute the playoff appearance frequency
(totals.apply(np.mean, axis=1)/NUM_SEASONS).sort_values(ascending=False)

tm
CHW    1.00000
LAD    1.00000
MIL    1.00000
SFG    1.00000
TBD    1.00000
STL    0.99990
HOU    0.99910
ATL    0.93832
BOS    0.77502
NYY    0.75604
TOR    0.40288
SEA    0.06174
PHI    0.06168
OAK    0.00522
CIN    0.00010
dtype: float64

In [17]:
# Which teams have the widest range?  How big is that range?
((totals.apply(max, axis=1) - totals.apply(min, axis=1))/NUM_SEASONS).sort_values(ascending=False)

tm
NYY    0.0129
TOR    0.0112
SEA    0.0073
BOS    0.0060
ATL    0.0044
PHI    0.0044
OAK    0.0007
HOU    0.0004
STL    0.0004
CIN    0.0004
CHW    0.0000
LAD    0.0000
MIL    0.0000
SFG    0.0000
TBD    0.0000
dtype: float64