In [1]:
# Monte-Carlo playoff odds
# Generate my own playoff odds

# For now, I'm focusing on the mechanics of the simulation, and less so on the inputs (e.g., the projected team quality)
# So I'm using 538's win probabilities for each game, rather than computing my own

# I'm also using 538's results/schedule data, because it is so easy to use

import pandas as pd
import numpy as np

In [2]:
# Read in the 538 dataset, which has a row for each game in the current season (played or unplayed)
gms = pd.read_csv('https://projects.fivethirtyeight.com/mlb-api/mlb_elo_latest.csv')
#gms = pd.read_csv('../data/538/mlb-elo/mlb_elo_latest.csv')
gms

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,2022-10-05,2022,0,NaN,LAD,COL,1591.773446,1468.916071,0.699597,0.300403,...,NaN,NaN,NaN,NaN,0.721651,0.278349,NaN,NaN,NaN,NaN
1,2022-10-05,2022,0,NaN,SEA,DET,1520.313899,1463.528474,0.614209,0.385791,...,NaN,NaN,NaN,NaN,0.607621,0.392379,NaN,NaN,NaN,NaN
2,2022-10-05,2022,0,NaN,SDP,SFG,1515.888286,1529.360457,0.515146,0.484854,...,NaN,NaN,NaN,NaN,0.568112,0.431888,NaN,NaN,NaN,NaN
3,2022-10-05,2022,0,NaN,NYM,WSN,1532.721422,1438.634452,0.663686,0.336314,...,NaN,NaN,NaN,NaN,0.675042,0.324958,NaN,NaN,NaN,NaN
4,2022-10-05,2022,0,NaN,MIL,ARI,1519.148722,1466.833969,0.608093,0.391907,...,NaN,NaN,NaN,NaN,0.629332,0.370668,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,2022-04-07,2022,0,NaN,ATL,CIN,1555.630840,1501.967218,0.609942,0.390058,...,58.198554,53.297336,18.664382,15.512738,0.620108,0.379892,1552.570297,1501.193092,3.0,6.0
2426,2022-04-07,2022,0,NaN,WSN,NYM,1476.319846,1495.202033,0.507365,0.492635,...,46.506602,48.182760,-10.890192,-33.183129,0.495889,0.504111,1467.302390,1522.210391,1.0,5.0
2427,2022-04-07,2022,0,NaN,STL,PIT,1524.880454,1456.114951,0.630416,0.369584,...,57.273136,46.669517,27.921385,2.182563,0.650312,0.349688,1503.439418,1444.031029,9.0,0.0
2428,2022-04-07,2022,0,NaN,KCR,CLE,1480.923133,1501.256999,0.505276,0.494724,...,50.288294,59.572636,7.862364,30.139987,0.476089,0.523911,1473.144618,1491.474766,3.0,1.0
2429,2022-04-07,2022,0,NaN,CHC,MIL,1472.058655,1523.802320,0.460158,0.539842,...,49.031901,62.801458,-1.963101,32.020893,0.398403,0.601597,1480.174494,1540.454128,5.0,4.0

In [3]:
gms.columns

Index(['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre',
       'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post',
       'rating1_pre', 'rating2_pre', 'pitcher1', 'pitcher2', 'pitcher1_rgs',
       'pitcher2_rgs', 'pitcher1_adj', 'pitcher2_adj', 'rating_prob1',
       'rating_prob2', 'rating1_post', 'rating2_post', 'score1', 'score2'],
      dtype='object')

In [4]:
# Split out the games that have been played vs those remaining
played = gms.dropna(subset=['score1']) # games that have a score
remain = gms.loc[gms.index.difference(played.index)] # all other games
played.shape, remain.shape

((1299, 26), (1131, 26))

# Define some functions that will be used in the simulation

In [5]:
def compute_standings(gms_played):
    margins = gms_played['score1']-gms_played['score2']
    winners = pd.Series(np.where(margins>0, gms_played['team1'], gms_played['team2']))
    losers  = pd.Series(np.where(margins<0, gms_played['team1'], gms_played['team2']))
    standings = pd.concat([winners.value_counts().rename('W'), losers.value_counts().rename('L')], axis=1)
    return standings

compute_standings(played)

      W   L
NYY  61  25
LAD  56  29
HOU  56  29
NYM  54  33
ATL  52  36
SDP  50  38
MIN  48  40
MIL  48  39
STL  47  42
BOS  47  40
TBD  46  40
PHI  46  41
TOR  45  42
SEA  45  42
BAL  43  44
CLE  43  42
SFG  43  42
CHW  41  45
FLA  41  44
TEX  40  44
ARI  39  48
COL  38  49
ANA  38  49
PIT  37  50
DET  36  51
KCR  34  52
CHC  34  52
CIN  32  54
WSN  30  58
OAK  29  59

In [6]:
#  Create a data frame with the league/division mappings, to use to determine playoff berths
divisions = pd.DataFrame({
'SFG': ['N','NW'],
'LAD': ['N','NW'],
'TBD': ['A','AE'],
'MIL': ['N','NC'],
'HOU': ['A','AW'],
'CHW': ['A','AC'],
'BOS': ['A','AE'],
'NYY': ['A','AE'],
'TOR': ['A','AE'],
'OAK': ['A','AW'],
'SEA': ['A','AW'],
'SDP': ['N','NW'],
'ATL': ['N','NE'],
'CIN': ['N','NC'],
'PHI': ['N','NE'],
'STL': ['N','NC'],
'NYM': ['N','NE'],
'ANA': ['A','AW'],
'CLE': ['A','AC'],
'DET': ['A','AC'],
'CHC': ['N','NC'],
'COL': ['N','NW'],
'KCR': ['A','AC'],
'MIN': ['A','AC'],
'FLA': ['N','NE'],
'WSN': ['N','NE'],
'TEX': ['A','AW'],
'PIT': ['N','NC'],
'BAL': ['A','AE'],
'ARI': ['N','NW']
 }).T

divisions.columns = ['lg', 'div']
divisions

    lg div
SFG  N  NW
LAD  N  NW
TBD  A  AE
MIL  N  NC
HOU  A  AW
CHW  A  AC
BOS  A  AE
NYY  A  AE
TOR  A  AE
OAK  A  AW
SEA  A  AW
SDP  N  NW
ATL  N  NE
CIN  N  NC
PHI  N  NE
STL  N  NC
NYM  N  NE
ANA  A  AW
CLE  A  AC
DET  A  AC
CHC  N  NC
COL  N  NW
KCR  A  AC
MIN  A  AC
FLA  N  NE
WSN  N  NE
TEX  A  AW
PIT  N  NC
BAL  A  AE
ARI  N  NW

In [7]:

def sim_rem_games(remain):
    # Generate a random number for each game
    randoms = pd.Series(np.random.rand(len(remain)), index=remain.index)

    # Figure out the winners and losers
    winners = pd.Series(np.where(randoms<remain['rating_prob1'], remain['team1'], remain['team2']))
    losers = pd.Series(np.where(randoms>remain['rating_prob1'], remain['team1'], remain['team2']))

    # Compute and return the standings
    standings = pd.concat([winners.value_counts().rename('W'), losers.value_counts().rename('L')], axis=1)
    for col in standings.columns: # convert to int
        standings[col] = standings[col].fillna(0).astype(int)
    return standings

sim_rem_games(remain)

      W   L
NYY  54  22
LAD  47  30
HOU  46  31
MIL  46  29
ATL  44  30
CLE  43  34
NYM  43  32
SFG  42  35
BOS  42  33
CHW  40  36
TBD  40  36
TEX  40  38
SEA  39  36
PIT  38  37
PHI  38  37
MIN  38  36
TOR  37  38
OAK  37  37
CHC  35  41
FLA  35  42
WSN  35  39
CIN  34  42
DET  31  44
SDP  31  43
ARI  31  44
COL  31  44
ANA  30  45
KCR  29  47
STL  28  45
BAL  27  48

In [8]:
cur_standings = compute_standings(played)
rem_standings = sim_rem_games(remain)
full_standings = cur_standings+rem_standings
full_standings

       W    L
ANA   69   93
ARI   72   90
ATL   87   75
BAL   77   85
BOS   78   84
CHC   59  103
CHW   86   76
CIN   65   97
CLE   88   74
COL   67   95
DET   69   93
FLA   76   86
HOU  101   61
KCR   68   94
LAD  109   53
MIL   92   70
MIN   88   74
NYM  104   58
NYY  109   53
OAK   61  101
PHI   94   68
PIT   66   96
SDP   92   70
SEA   79   83
SFG   89   73
STL   90   72
TBD   83   79
TEX   74   88
TOR   80   82
WSN   58  104

In [9]:
# find playoff teams
def add_playoff_seeds(standings):
    standings['wpct'] = standings['W'] / (standings['W'] + standings['L'])

    # Merge in the div/lg data
    standings['div'] = divisions['div']
    standings['lg'] = divisions['lg']

    # Rather than model out all the tie-breakers, I'm assuming that they are all random (not exactly true, but close enough),
    # and so I'm just generating a random number for each team, and we break ties by comparing that random num for each of the tied teams.
    # This is *so* much simpler and faster than modeling all the different scenarios.
    # It might be worth modeling them out with 1-2 days left in the season, but for most of the season, I way prefer using the random num to break ties
    standings['rand'] = np.random.rand(len(standings))

    # Now sort, and break ties using the rand
    sorted = standings.sort_values(by=['wpct', 'rand'], ascending=False)

    # div_rank is nice to have, but somewhat expensive to compute
    #standings['div_rank'] = sorted.groupby('div').cumcount()+1
    #standings['div_win'] = standings['div_rank'] == 1

    # Set div_win False as default, then set it True for div winners
    standings['div_win'] = False
    standings.loc[sorted.groupby('div').head(1).index, 'div_win'] = True
    standings['lg_rank'] = standings.sort_values(by=['div_win', 'wpct', 'rand'], ascending=False).groupby('lg').cumcount()+1
    return standings.sort_values(['lg', 'lg_rank'])

     

add_playoff_seeds(full_standings)

       W    L      wpct div lg      rand  div_win  lg_rank
NYY  109   53  0.672840  AE  A  0.059357     True        1
HOU  101   61  0.623457  AW  A  0.931768     True        2
MIN   88   74  0.543210  AC  A  0.898541     True        3
CLE   88   74  0.543210  AC  A  0.409675    False        4
CHW   86   76  0.530864  AC  A  0.689347    False        5
TBD   83   79  0.512346  AE  A  0.794834    False        6
TOR   80   82  0.493827  AE  A  0.511166    False        7
SEA   79   83  0.487654  AW  A  0.134036    False        8
BOS   78   84  0.481481  AE  A  0.534116    False        9
BAL   77   85  0.475309  AE  A  0.332646    False       10
TEX   74   88  0.456790  AW  A  0.418872    False       11
DET   69   93  0.425926  AC  A  0.891817    False       12
ANA   69   93  0.425926  AW  A  0.070778    False       13
KCR   68   94  0.419753  AC  A  0.403642    False       14
OAK   61  101  0.376543  AW  A  0.033858    False       15
LAD  109   53  0.672840  NW  N  0.856211     True        1
NYM  104   58  0.641975  NE  N  0.704054     True        2
MIL   92   70  0.567901  NC  N  0.434235     True        3
PHI   94   68  0.580247  NE  N  0.794029    False        4
SDP   92   70  0.567901  NW  N  0.337430    False        5
STL   90   72  0.555556  NC  N  0.400180    False        6
SFG   89   73  0.549383  NW  N  0.196377    False        7
ATL   87   75  0.537037  NE  N  0.696131    False        8
FLA   76   86  0.469136  NE  N  0.808541    False        9
ARI   72   90  0.444444  NW  N  0.132347    False       10
COL   67   95  0.413580  NW  N  0.204360    False       11
PIT   66   96  0.407407  NC  N  0.804232    False       12
CIN   65   97  0.401235  NC  N  0.049214    False       13
CHC   59  103  0.364198  NC  N  0.805812    False       14
WSN   58  104  0.358025  NE  N  0.714614    False       15

In [10]:
%%prun -s cumulative # This runs the code profiler, which creates data I can use to find opportunities for me to speed up the code

[add_playoff_seeds(full_standings) for _ in range(1000)]
None # This is to suppress printing the output, which is 1000 lines of the same list of teams

         11604933 function calls (11473933 primitive calls) in 5.807 seconds

   Ordered by: cumulative time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    5.807    5.807 {built-in method builtins.exec}
        1    0.003    0.003    5.807    5.807 <string>:3(<module>)
        1    0.004    0.004    5.804    5.804 <string>:3(<listcomp>)
     1000    0.028    0.000    5.801    0.006 <ipython-input-9-324393e1c65c>:2(add_playoff_seeds)
     3000    0.005    0.000    2.503    0.001 _decorators.py:302(wrapper)
     3000    0.026    0.000    2.496    0.001 frame.py:6269(sort_values)
     3000    0.096    0.000    1.760    0.001 sorting.py:285(lexsort_indexer)
     7000    0.050    0.000    1.279    0.000 categorical.py:365(__init__)
    16000    0.044    0.000    1.272    0.000 frame.py:3463(__getitem__)
     1000    0.006    0.000    1.169    0.001 groupby.py:3040(cumcount)
51000/35000    0.029    0.000    0.921    0.000 groupby.py:908(__getattribute__)
     6000    0.014    0.000    0.738    0.000 frame.py:3630(__setitem__)
     6000    0.012    0.000    0.704    0.000 frame.py:3822(_set_item)
     2000    0.004    0.000    0.685    0.000 generic.py:3708(_take_with_is_copy)
     9000    0.063    0.000    0.684    0.000 algorithms.py:568(factorize)
     5000    0.015    0.000    0.681    0.000 managers.py:875(take)
     2000    0.009    0.000    0.657    0.000 generic.py:3609(take)
     2000    0.003    0.000    0.656    0.000 groupby.py:675(_selected_obj)
     8000    0.023    0.000    0.648    0.000 managers.py:634(reindex_indexer)
     1000    0.002    0.000    0.591    0.001 groupby.py:3487(head)
     6000    0.006    0.000    0.543    0.000 frame.py:4515(_sanitize_column)
    11000    0.037    0.000    0.521    0.000 base.py:672(_with_infer)
     4000    0.008    0.000    0.507    0.000 frame.py:10986(_reindex_for_setitem)
    28000    0.010    0.000    0.497    0.000 dtypes.py:182(__init__)
    28000    0.018    0.000    0.487    0.000 dtypes.py:331(_finalize)
     2000    0.032    0.000    0.460    0.000 groupby.py:1699(_cumcount_array)
    14000    0.034    0.000    0.459    0.000 dtypes.py:504(validate_categories)
     3000    0.007    0.000    0.450    0.000 series.py:4655(reindex)
     3000    0.017    0.000    0.442    0.000 generic.py:4719(reindex)
  2275997    0.291    0.000    0.436    0.000 {built-in method builtins.isinstance}
    32000    0.044    0.000    0.432    0.000 blocks.py:1114(take_nd)
     8000    0.032    0.000    0.418    0.000 base.py:3706(get_indexer)
13000/12000    0.075    0.000    0.400    0.000 base.py:397(__new__)
     4000    0.022    0.000    0.399    0.000 managers.py:692(<listcomp>)
    43000    0.044    0.000    0.383    0.000 take.py:57(take_nd)
     2000    0.009    0.000    0.374    0.000 base.py:5768(_get_indexer_strict)
     5000    0.003    0.000    0.356    0.000 generic.py:5646(_consolidate_inplace)
     5000    0.013    0.000    0.355    0.000 base.py:4109(reindex)
     5000    0.007    0.000    0.354    0.000 generic.py:5632(_protect_consolidate)
     3000    0.007    0.000    0.347    0.000 generic.py:4970(_reindex_axes)
     5000    0.004    0.000    0.344    0.000 generic.py:5650(f)
     1000    0.004    0.000    0.335    0.000 groupby.py:3570(_mask_selected_obj)
     5000    0.006    0.000    0.333    0.000 managers.py:618(consolidate)
    43000    0.106    0.000    0.328    0.000 take.py:120(_take_nd_ndarray)
     1000    0.003    0.000    0.316    0.000 frame.py:3530(_getitem_bool_array)
     2000    0.004    0.000    0.309    0.000 managers.py:1683(_consolidate_inplace)
     2000    0.002    0.000    0.295    0.000 ops.py:832(group_info)
     2000    0.005    0.000    0.293    0.000 ops.py:854(_get_compressed_codes)
     2000    0.014    0.000    0.278    0.000 managers.py:2074(_consolidate)
     3000    0.004    0.000    0.276    0.000 frame.py:6295(<listcomp>)
     7000    0.023    0.000    0.271    0.000 generic.py:1796(_get_label_or_level_values)
     3000    0.004    0.000    0.269    0.000 common.py:55(new_method)
     1000    0.005    0.000    0.267    0.000 indexing.py:705(__setitem__)
     9000    0.021    0.000    0.261    0.000 algorithms.py:524(factorize_array)
     3000    0.004    0.000    0.256    0.000 series.py:5637(_arith_method)
     1000    0.002    0.000    0.251    0.000 indexing.py:121(_make_mask_from_positional_indexer)
     3000    0.014    0.000    0.248    0.000 base.py:1286(_arith_method)
     1000    0.006    0.000    0.248    0.000 indexing.py:185(_make_mask_from_slice)
     1000    0.001    0.000    0.237    0.000 indexing.py:227(_ascending_count)
     3000    0.007    0.000    0.230    0.000 sorting.py:271(indexer_from_factorized)
    14000    0.018    0.000    0.228    0.000 frame.py:3923(_get_item_cache)
    18998    0.037    0.000    0.223    0.000 series.py:323(__init__)
     2000    0.001    0.000    0.220    0.000 {built-in method builtins.next}
     2000    0.002    0.000    0.220    0.000 groupby.py:998(_group_selection_context)
    27000    0.052    0.000    0.219    0.000 base.py:5178(equals)
     1000    0.001    0.000    0.213    0.000 contextlib.py:108(__enter__)
     1000    0.007    0.000    0.211    0.000 groupby.py:958(_set_group_selection)
     4000    0.036    0.000    0.205    0.000 managers.py:713(_slice_take_blocks_ax0)
     3000    0.002    0.000    0.201    0.000 base.py:5744(get_indexer_for)
    11998    0.018    0.000    0.200    0.000 frame.py:3411(_ixs)
     9000    0.029    0.000    0.193    0.000 algorithms.py:1663(safe_sort)
73000/59000    0.088    0.000    0.192    0.000 {built-in method numpy.core._multiarray_umath.implement_array_function}
     8000    0.077    0.000    0.191    0.000 managers.py:2091(_merge_blocks)
     7000    0.008    0.000    0.183    0.000 generic.py:3722(xs)
     2000    0.002    0.000    0.178    0.000 arraylike.py:98(__add__)
     1000    0.005    0.000    0.178    0.000 indexing.py:638(_get_setitem_indexer)
    13000    0.119    0.000    0.169    0.000 {pandas._libs.lib.maybe_convert_objects}
     1000    0.003    0.000    0.166    0.000 indexing.py:787(_convert_tuple)
     2000    0.006    0.000    0.163    0.000 indexing.py:1223(_convert_to_indexer)
     2000    0.010    0.000    0.161    0.000 frame.py:7595(groupby)
     9000    0.008    0.000    0.157    0.000 algorithms.py:299(_get_data_algo)
     2000    0.002    0.000    0.150    0.000 grouper.py:616(codes)
     2000    0.003    0.000    0.148    0.000 grouper.py:659(_codes_and_uniques)
     3000    0.006    0.000    0.147    0.000 series.py:2988(_construct_result)
     2000    0.012    0.000    0.146    0.000 groupby.py:839(__init__)
   614000    0.105    0.000    0.145    0.000 generic.py:43(_check)
     3000    0.011    0.000    0.144    0.000 generic.py:5009(_reindex_with_indexers)
     6000    0.010    0.000    0.139    0.000 frame.py:3797(_set_item_mgr)
    18000    0.025    0.000    0.136    0.000 algorithms.py:115(_ensure_data)
     2000    0.003    0.000    0.133    0.000 grouper.py:650(group_index)
    55000    0.132    0.000    0.132    0.000 {method 'reduce' of 'numpy.ufunc' objects}
     2000    0.023    0.000    0.132    0.000 grouper.py:700(get_grouper)
     7000    0.014    0.000    0.131    0.000 base.py:7106(_maybe_cast_data_without_dtype)
    14000    0.038    0.000    0.129    0.000 construction.py:470(sanitize_array)
    46000    0.017    0.000    0.128    0.000 {method 'any' of 'numpy.ndarray' objects}
     1000    0.002    0.000    0.127    0.000 indexing.py:1301(_get_listlike_indexer)
    20000    0.006    0.000    0.124    0.000 base.py:6987(ensure_index)
     1000    0.003    0.000    0.121    0.000 base.py:3400(difference)
     3000    0.045    0.000    0.121    0.000 sorting.py:100(get_group_index)
   152000    0.061    0.000    0.120    0.000 common.py:1587(_is_dtype_type)
    64000    0.025    0.000    0.115    0.000 base.py:286(is_dtype)
    41000    0.046    0.000    0.113    0.000 _dtype.py:328(_name_get)
    25998    0.061    0.000    0.111    0.000 generic.py:5517(__finalize__)
    46000    0.012    0.000    0.111    0.000 _methods.py:54(_any)
    43000    0.058    0.000    0.109    0.000 take.py:554(_take_preprocess_indexer_and_fill_value)
    18000    0.036    0.000    0.108    0.000 warnings.py:130(filterwarnings)
    18000    0.067    0.000    0.108    0.000 {pandas._libs.lib.infer_dtype}
     6000    0.009    0.000    0.102    0.000 frame.py:3790(_iset_item_mgr)
    72000    0.035    0.000    0.101    0.000 common.py:161(is_object_dtype)
    11998    0.017    0.000    0.100    0.000 frame.py:3906(_box_col_values)
    42000    0.019    0.000    0.092    0.000 common.py:497(is_categorical_dtype)
    15000    0.009    0.000    0.090    0.000 blocks.py:238(fill_value)
     7000    0.008    0.000    0.090    0.000 base.py:2665(hasnans)
     6000    0.022    0.000    0.085    0.000 managers.py:1061(iset)
     1000    0.001    0.000    0.081    0.000 arraylike.py:122(__truediv__)
     1000    0.008    0.000    0.080    0.000 base.py:3451(_difference)
    15000    0.014    0.000    0.078    0.000 missing.py:571(na_value_for_dtype)
440998/341998    0.055    0.000    0.077    0.000 {built-in method builtins.len}
     1000    0.005    0.000    0.076    0.000 indexing.py:1553(_setitem_with_indexer)
     9000    0.007    0.000    0.076    0.000 algorithms.py:289(_get_values_for_rank)
     9000    0.010    0.000    0.073    0.000 base.py:6004(_should_compare)
    45000    0.016    0.000    0.073    0.000 construction.py:379(extract_array)
    53000    0.033    0.000    0.073    0.000 common.py:581(is_dtype_equal)
    40996    0.038    0.000    0.073    0.000 generic.py:5577(__setattr__)
     9000    0.019    0.000    0.071    0.000 algorithms.py:308(_check_object_for_strings)
     3000    0.010    0.000    0.070    0.000 sorting.py:661(compress_group_index)
     1000    0.005    0.000    0.069    0.000 indexing.py:1692(_setitem_with_indexer_split_path)
     4000    0.025    0.000    0.067    0.000 index_tricks.py:322(__getitem__)
     5000    0.007    0.000    0.066    0.000 {built-in method builtins.sorted}
     8000    0.002    0.000    0.066    0.000 base.py:6293(_maybe_cast_listlike_indexer)
     7000    0.013    0.000    0.065    0.000 dtypes.py:541(update_dtype)
    24000    0.009    0.000    0.064    0.000 {built-in method builtins.all}
   784000    0.061    0.000    0.062    0.000 {built-in method builtins.getattr}
    28000    0.008    0.000    0.062    0.000 managers.py:2079(<lambda>)
    41000    0.022    0.000    0.061    0.000 common.py:1240(is_float_dtype)
     1000    0.004    0.000    0.059    0.000 indexing.py:1848(_setitem_single_column)
    12000    0.016    0.000    0.059    0.000 base.py:554(_dtype_to_subclass)
    22000    0.018    0.000    0.058    0.000 missing.py:390(array_equivalent)
     7000    0.020    0.000    0.057    0.000 base.py:1098(take)
    31000    0.024    0.000    0.056    0.000 common.py:1274(is_bool_dtype)
     8000    0.008    0.000    0.055    0.000 base.py:3823(_check_indexing_method)
    14000    0.017    0.000    0.054    0.000 blocks.py:166(_consolidate_key)
     5000    0.023    0.000    0.052    0.000 sorting.py:618(get_group_index_sorter)
     8000    0.009    0.000    0.051    0.000 base.py:3786(_get_indexer)
    13000    0.013    0.000    0.050    0.000 numeric.py:289(full)
     6000    0.003    0.000    0.050    0.000 base.py:2652(_isnan)
    41000    0.016    0.000    0.048    0.000 _dtype.py:314(_name_includes_bit_suffix)
    23998    0.036    0.000    0.048    0.000 generic.py:239(__init__)
     6000    0.002    0.000    0.047    0.000 missing.py:66(isna)
     9000    0.013    0.000    0.047    0.000 algorithms.py:193(_reconstruct_data)
    11998    0.031    0.000    0.046    0.000 managers.py:1016(iget)
     6000    0.003    0.000    0.046    0.000 <__array_function__ internals>:177(vstack)
     8000    0.023    0.000    0.045    0.000 base.py:2232(is_unique)
     6000    0.009    0.000    0.045    0.000 missing.py:149(_isna)
    17000    0.019    0.000    0.045    0.000 base.py:53(shape)
    17998    0.013    0.000    0.044    0.000 base.py:3577(get_loc)
    12000    0.011    0.000    0.044    0.000 blocks.py:2030(new_block_2d)
     5000    0.022    0.000    0.043    0.000 utils.py:249(maybe_convert_indices)
    16000    0.008    0.000    0.042    0.000 <__array_function__ internals>:177(concatenate)
     6000    0.003    0.000    0.041    0.000 generic.py:4952(<genexpr>)
    19000    0.013    0.000    0.041    0.000 series.py:640(name)
   137000    0.027    0.000    0.041    0.000 common.py:1552(get_dtype)
     3000    0.014    0.000    0.039    0.000 sorting.py:683(_reorder_by_uniques)
    18000    0.005    0.000    0.039    0.000 base.py:2272(is_boolean)
    27000    0.036    0.000    0.036    0.000 {method 'argsort' of 'numpy.ndarray' objects}
     6000    0.006    0.000    0.036    0.000 shape_base.py:222(vstack)
    12000    0.020    0.000    0.036    0.000 missing.py:494(_array_equivalent_object)
    23000    0.012    0.000    0.035    0.000 common.py:680(is_integer_dtype)
     3000    0.001    0.000    0.035    0.000 base.py:5265(identical)
     3000    0.005    0.000    0.035    0.000 array_ops.py:183(arithmetic_op)
    64000    0.035    0.000    0.035    0.000 {built-in method numpy.empty}
    18000    0.005    0.000    0.034    0.000 re.py:250(compile)
     5000    0.003    0.000    0.033    0.000 base.py:2596(inferred_type)
     7000    0.008    0.000    0.033    0.000 dtypes.py:205(_from_values_or_dtype)
    18000    0.018    0.000    0.033    0.000 warnings.py:181(_add_filter)
     8000    0.032    0.000    0.032    0.000 {method 'get_indexer' of 'pandas._libs.index.IndexEngine' objects}
    20000    0.014    0.000    0.032    0.000 numerictypes.py:356(issubdtype)
155000/154000    0.032    0.000    0.032    0.000 {built-in method numpy.asarray}
     4000    0.032    0.000    0.032    0.000 {method 'factorize' of 'pandas._libs.hashtable.Float64HashTable' objects}
    21000    0.020    0.000    0.032    0.000 base.py:654(_simple_new)
     4000    0.004    0.000    0.032    0.000 managers.py:1731(from_array)
     3000    0.002    0.000    0.032    0.000 <__array_function__ internals>:177(prod)
    13000    0.016    0.000    0.032    0.000 construction.py:695(_try_cast)
     3000    0.032    0.000    0.032    0.000 {method 'factorize' of 'pandas._libs.hashtable.StringHashTable' objects}
     9000    0.012    0.000    0.031    0.000 common.py:229(asarray_tuplesafe)
     3000    0.005    0.000    0.031    0.000 common.py:105(is_bool_indexer)
     7000    0.011    0.000    0.031    0.000 generic.py:1697(_is_label_reference)
     6000    0.009    0.000    0.030    0.000 managers.py:1196(_iset_single)
    39000    0.017    0.000    0.030    0.000 common.py:1429(is_extension_array_dtype)
   353000    0.030    0.000    0.030    0.000 {built-in method builtins.issubclass}
     1000    0.001    0.000    0.030    0.000 managers.py:331(setitem)
   113000    0.020    0.000    0.029    0.000 common.py:147(<lambda>)
     9000    0.016    0.000    0.029    0.000 generic.py:1752(_check_label_or_level_ambiguity)
    18000    0.016    0.000    0.029    0.000 re.py:289(_compile)
     7000    0.014    0.000    0.029    0.000 sorting.py:143(maybe_lift)
     1000    0.003    0.000    0.028    0.000 managers.py:253(apply)
     8000    0.005    0.000    0.028    0.000 common.py:459(is_interval_dtype)
     7000    0.005    0.000    0.028    0.000 <__array_function__ internals>:177(where)
    19000    0.007    0.000    0.028    0.000 common.py:1721(validate_all_hashable)
     5000    0.028    0.000    0.028    0.000 {pandas._libs.algos.groupsort_indexer}
    23996    0.018    0.000    0.028    0.000 base.py:5023(__getitem__)
     3000    0.004    0.000    0.027    0.000 fromnumeric.py:2970(prod)
    99000    0.024    0.000    0.027    0.000 {pandas._libs.lib.is_list_like}
    91000    0.019    0.000    0.026    0.000 base.py:884(__len__)
    48000    0.009    0.000    0.026    0.000 base.py:55(<genexpr>)
    20000    0.007    0.000    0.026    0.000 series.py:687(_values)
    14000    0.008    0.000    0.026    0.000 <__array_function__ internals>:177(copyto)
    18000    0.009    0.000    0.026    0.000 base.py:7082(maybe_extract_name)
    15000    0.006    0.000    0.025    0.000 {built-in method builtins.any}
    16000    0.014    0.000    0.025    0.000 blocks.py:1960(maybe_coerce_values)
    69000    0.017    0.000    0.024    0.000 inference.py:321(is_hashable)
     9000    0.004    0.000    0.024    0.000 base.py:7168(unpack_nested_dtype)
    17998    0.011    0.000    0.024    0.000 base.py:6284(_maybe_cast_indexer)
     6000    0.011    0.000    0.024    0.000 missing.py:226(_isna_array)
     4000    0.002    0.000    0.024    0.000 config.py:255(__call__)
     3000    0.007    0.000    0.024    0.000 fromnumeric.py:69(_wrapreduction)
     4000    0.002    0.000    0.024    0.000 managers.py:1665(is_consolidated)
     4000    0.007    0.000    0.023    0.000 blocks.py:2041(new_block)
     8000    0.008    0.000    0.023    0.000 base.py:5917(_maybe_promote)
     2000    0.008    0.000    0.023    0.000 grouper.py:468(__init__)
     8000    0.006    0.000    0.023    0.000 dtypes.py:1206(is_dtype)
     1000    0.001    0.000    0.022    0.000 <__array_function__ internals>:177(setdiff1d)
     3000    0.005    0.000    0.022    0.000 array_ops.py:134(_na_arithmetic_op)
     8000    0.014    0.000    0.022    0.000 base.py:845(_engine)
     5000    0.004    0.000    0.022    0.000 take.py:350(wrapper)
     1000    0.006    0.000    0.022    0.000 blocks.py:896(setitem)
    32000    0.022    0.000    0.022    0.000 blocks.py:267(make_block_same_class)
     4000    0.003    0.000    0.022    0.000 config.py:127(_get_option)
     4000    0.006    0.000    0.021    0.000 managers.py:1673(_consolidate_check)
    14000    0.016    0.000    0.021    0.000 categorical.py:766(codes)
     2000    0.015    0.000    0.021    0.000 {method '_rebuild_blknos_and_blklocs' of 'pandas._libs.internals.BlockManager' objects}
    18000    0.019    0.000    0.021    0.000 warnings.py:458(__enter__)
     1000    0.003    0.000    0.021    0.000 arraysetops.py:784(setdiff1d)
    35000    0.018    0.000    0.020    0.000 base.py:4973(__contains__)
     5000    0.010    0.000    0.020    0.000 numeric.py:139(_ensure_array)
     6000    0.009    0.000    0.020    0.000 _ufunc_config.py:32(seterr)
     6000    0.003    0.000    0.020    0.000 <__array_function__ internals>:177(argsort)
     3000    0.020    0.000    0.020    0.000 {method 'get_labels_groupby' of 'pandas._libs.hashtable.Int64HashTable' objects}
     7000    0.004    0.000    0.020    0.000 cast.py:939(coerce_indexer_dtype)
    11998    0.006    0.000    0.019    0.000 series.py:1238(_set_as_cached)
    24000    0.019    0.000    0.019    0.000 {method 'take' of 'numpy.ndarray' objects}
     7000    0.007    0.000    0.019    0.000 algorithms.py:1352(take)
     5000    0.006    0.000    0.019    0.000 frame.py:587(__init__)
    20000    0.016    0.000    0.019    0.000 managers.py:1848(internal_values)
    16000    0.014    0.000    0.019    0.000 blocks.py:1989(get_block_type)
    39000    0.019    0.000    0.019    0.000 cast.py:468(maybe_promote)
    12000    0.019    0.000    0.019    0.000 {pandas._libs.algos.take_1d_int64_int64}
    94000    0.014    0.000    0.019    0.000 {built-in method builtins.hasattr}
    19000    0.010    0.000    0.018    0.000 indexing.py:2481(check_deprecated_indexers)
     2000    0.007    0.000    0.018    0.000 base.py:5799(_raise_if_missing)
    10000    0.005    0.000    0.018    0.000 fromnumeric.py:51(_wrapfunc)
     5000    0.003    0.000    0.017    0.000 common.py:75(get_op_result_name)
     1000    0.001    0.000    0.017    0.000 <__array_function__ internals>:177(in1d)

In [11]:
def finish_one_season(incoming_standings, remain):
    rem_standings = sim_rem_games(remain)
    full_standings = incoming_standings+rem_standings
    full_standings = add_playoff_seeds(full_standings)
    return full_standings

finish_one_season(cur_standings, remain)

       W    L      wpct div lg      rand  div_win  lg_rank
HOU  109   53  0.672840  AW  A  0.693724     True        1
NYY  106   56  0.654321  AE  A  0.001889     True        2
MIN   89   73  0.549383  AC  A  0.281381     True        3
BOS   96   66  0.592593  AE  A  0.793571    False        4
ANA   85   77  0.524691  AW  A  0.043498    False        5
SEA   83   79  0.512346  AW  A  0.757235    False        6
TBD   82   80  0.506173  AE  A  0.381153    False        7
TOR   80   82  0.493827  AE  A  0.980081    False        8
CLE   80   82  0.493827  AC  A  0.896961    False        9
CHW   75   87  0.462963  AC  A  0.613378    False       10
TEX   74   88  0.456790  AW  A  0.540911    False       11
BAL   74   88  0.456790  AE  A  0.020831    False       12
DET   66   96  0.407407  AC  A  0.872554    False       13
KCR   65   97  0.401235  AC  A  0.780122    False       14
OAK   51  111  0.314815  AW  A  0.672595    False       15
LAD  101   61  0.623457  NW  N  0.439730     True        1
ATL   99   63  0.611111  NE  N  0.310066     True        2
STL   83   79  0.512346  NC  N  0.879237     True        3
NYM   97   65  0.598765  NE  N  0.399813    False        4
SDP   91   71  0.561728  NW  N  0.086271    False        5
SFG   89   73  0.549383  NW  N  0.854517    False        6
PHI   85   77  0.524691  NE  N  0.242907    False        7
MIL   82   80  0.506173  NC  N  0.778188    False        8
FLA   75   87  0.462963  NE  N  0.471109    False        9
PIT   73   89  0.450617  NC  N  0.872414    False       10
COL   72   90  0.444444  NW  N  0.911030    False       11
ARI   70   92  0.432099  NW  N  0.973534    False       12
CIN   67   95  0.413580  NC  N  0.927543    False       13
CHC   66   96  0.407407  NC  N  0.822639    False       14
WSN   65   97  0.401235  NE  N  0.985509    False       15

In [12]:

def sim_1_season(incoming_standings, remain, i):
    standings = finish_one_season(incoming_standings, remain)
    standings['iter'] = i
    standings = standings.reset_index().rename(columns={'index': 'team'}).set_index(['team', 'iter'])
    return standings

def sim_n_seasons(incoming_standings, remain, n):
    return pd.concat([sim_1_season(incoming_standings, remain, i) for i in range(n)])

sim_results = sim_n_seasons(cur_standings, remain, 10)
sim_results

             W   L      wpct div lg      rand  div_win  lg_rank
team iter
NYY  0     105  57  0.648148  AE  A  0.929615     True        1
HOU  0     102  60  0.629630  AW  A  0.676555     True        2
CLE  0      82  80  0.506173  AC  A  0.848679     True        3
TBD  0      94  68  0.580247  AE  A  0.439670    False        4
CHW  0      82  80  0.506173  AC  A  0.222803    False        5
...        ...  ..       ...  .. ..       ...      ...      ...
PIT  9      73  89  0.450617  NC  N  0.539909    False       11
COL  9      72  90  0.444444  NW  N  0.514985    False       12
CHC  9      68  94  0.419753  NC  N  0.905395    False       13
CIN  9      63  99  0.388889  NC  N  0.792847    False       14
WSN  9      63  99  0.388889  NE  N  0.778884    False       15

[300 rows x 8 columns]

In [36]:
# Count the number of div/wc/playoff appearances by team from a set of results

# Championship weights by seed position
weights = {i: 1/16 for i in range(1,7)}
weights[1] = 1/8
weights[2] = 1/8

def summarize_sim_results(df_results):
    counts = df_results.query('lg_rank <= 6').reset_index()[['team', 'lg_rank']].value_counts().unstack()
    mean_wins = sim_results.groupby('team')['W'].mean().rename('mean_wins')
    summary = pd.merge(left=mean_wins, right=counts, on='team', how='left')
    for col in counts.columns:
        summary[col] = summary[col].fillna(0).astype(int)    

    summary['div_wins'] = summary[range(1, 4)].sum(axis=1)
    summary['playoffs'] = summary[range(1, 7)].sum(axis=1)
    summary['champ_shares'] = (summary[range(1,7)] * np.array(weights)).sum(axis=1)
    return summary

summarize_sim_results(sim_results)

,mean_wins,1,2,3,4,5,6,div_wins,playoffs,champ_shares
team,,,,,,,,,,
ANA,74.79373,0,0,0,121,464,1112,0,1697,106.0625
ARI,70.70098,0,0,0,0,5,45,0,50,3.1250
ATL,94.58471,3956,34279,2279,31464,18247,7069,40514,97294,8470.5625
BAL,74.80012,0,0,0,226,536,1193,0,1955,122.1875
BOS,86.74174,10,49,2,32755,22777,16671,61,72264,4520.1875
CHC,68.95488,0,0,12,0,2,19,12,33,2.0625
CHW,82.84642,2,66,23107,1637,5329,9677,23175,39818,2492.8750
CIN,66.73769,0,0,6,0,0,1,6,7,0.4375
CLE,81.10175,0,26,13018,1211,3963,7739,13044,25957,1623.9375
COL,68.27090,0,0,0,0,0,9,0,9,0.5625
DET,68.76339,0,0,27,0,10,34,27,71,4.4375
FLA,77.79226,0,13,4,84,568,2591,17,3260,204.5625
HOU,102.39707,20150,79023,626,130,52,14,99799,99995,12448.0000
KCR,65.08498,0,0,3,0,0,5,3,8,0.5000
LAD,104.47117,87272,10479,352,1462,387,38,98103,99990,12358.8125
MIL,88.79167,304,4245,63039,554,2876,8092,67588,79110,5228.6875
MIN,86.76776,9,574,63168,1471,4223,6725,63751,76170,4797.0625
NYM,95.94572,7329,46515,2471,24792,13381,4196,56315,98684,9533.0000
NYY,107.51779,79823,20027,30,119,1,0,99880,100000,12490.6250
OAK,57.27835,0,0,0,0,0,0,0,0,0.0000
PHI,87.26549,61,2676,417,7840,18686,33486,3154,63166,4118.9375
PIT,67.71523,0,0,4,0,0,3,4,7,0.4375
SDP,90.97336,1029,761,76,31849,36835,17902,1866,88452,5640.1250
SEA,84.17835,0,179,18,12433,17751,18821,197,49202,3086.3125
SFG,82.39347,8,20,3,1231,4662,12078,31,18002,1126.8750
STL,85.92350,41,1012,31337,724,4351,14471,32390,51936,3311.8125
TBD,85.69526,4,29,0,24307,21327,17779,33,63446,3967.4375
TEX,76.47171,0,3,1,398,1320,2611,4,4333,271.0000
TOR,85.87262,2,24,0,25192,22247,17619,26,65084,4069.3750
WSN,59.16793,0,0,0,0,0,0,0,0,0.0000

In [18]:
#%%prun -s cumulative # This runs the code profiler, which creates data I can use to find opportunities for me to speed up the code

sim_results = sim_n_seasons(cur_standings, remain, 100*1000)
summarize_sim_results(sim_results)

      mean_wins      1      2      3      4      5      6  div_wins  playoffs
team
ANA    74.79373      0      0      0    121    464   1112         0      1697
ARI    70.70098      0      0      0      0      5     45         0        50
ATL    94.58471   3956  34279   2279  31464  18247   7069     40514     97294
BAL    74.80012      0      0      0    226    536   1193         0      1955
BOS    86.74174     10     49      2  32755  22777  16671        61     72264
CHC    68.95488      0      0     12      0      2     19        12        33
CHW    82.84642      2     66  23107   1637   5329   9677     23175     39818
CIN    66.73769      0      0      6      0      0      1         6         7
CLE    81.10175      0     26  13018   1211   3963   7739     13044     25957
COL    68.27090      0      0      0      0      0      9         0         9
DET    68.76339      0      0     27      0     10     34        27        71
FLA    77.79226      0     13      4     84    568   2591        17      3260
HOU   102.39707  20150  79023    626    130     52     14     99799     99995
KCR    65.08498      0      0      3      0      0      5         3         8
LAD   104.47117  87272  10479    352   1462    387     38     98103     99990
MIL    88.79167    304   4245  63039    554   2876   8092     67588     79110
MIN    86.76776      9    574  63168   1471   4223   6725     63751     76170
NYM    95.94572   7329  46515   2471  24792  13381   4196     56315     98684
NYY   107.51779  79823  20027     30    119      1      0     99880    100000
OAK    57.27835      0      0      0      0      0      0         0         0
PHI    87.26549     61   2676    417   7840  18686  33486      3154     63166
PIT    67.71523      0      0      4      0      0      3         4         7
SDP    90.97336   1029    761     76  31849  36835  17902      1866     88452
SEA    84.17835      0    179     18  12433  17751  18821       197     49202
SFG    82.39347      8     20      3   1231   4662  12078        31     18002
STL    85.92350     41   1012  31337    724   4351  14471     32390     51936
TBD    85.69526      4     29      0  24307  21327  17779        33     63446
TEX    76.47171      0      3      1    398   1320   2611         4      4333
TOR    85.87262      2     24      0  25192  22247  17619        26     65084
WSN    59.16793      0      0      0      0      0      0         0         0

In [37]:
summary = summarize_sim_results(sim_results)
print(summary.to_string())

      mean_wins      1      2      3      4      5      6  div_wins  playoffs  champ_shares
team
ANA    74.79373      0      0      0    121    464   1112         0      1697      106.0625
ARI    70.70098      0      0      0      0      5     45         0        50        3.1250
ATL    94.58471   3956  34279   2279  31464  18247   7069     40514     97294     8470.5625
BAL    74.80012      0      0      0    226    536   1193         0      1955      122.1875
BOS    86.74174     10     49      2  32755  22777  16671        61     72264     4520.1875
CHC    68.95488      0      0     12      0      2     19        12        33        2.0625
CHW    82.84642      2     66  23107   1637   5329   9677     23175     39818     2492.8750
CIN    66.73769      0      0      6      0      0      1         6         7        0.4375
CLE    81.10175      0     26  13018   1211   3963   7739     13044     25957     1623.9375
COL    68.27090      0      0      0      0      0      9         0         9        0.5625
DET    68.76339      0      0     27      0     10     34        27        71        4.4375
FLA    77.79226      0     13      4     84    568   2591        17      3260      204.5625
HOU   102.39707  20150  79023    626    130     52     14     99799     99995    12448.0000
KCR    65.08498      0      0      3      0      0      5         3         8        0.5000
LAD   104.47117  87272  10479    352   1462    387     38     98103     99990    12358.8125
MIL    88.79167    304   4245  63039    554   2876   8092     67588     79110     5228.6875
MIN    86.76776      9    574  63168   1471   4223   6725     63751     76170     4797.0625
NYM    95.94572   7329  46515   2471  24792  13381   4196     56315     98684     9533.0000
NYY   107.51779  79823  20027     30    119      1      0     99880    100000    12490.6250
OAK    57.27835      0      0      0      0      0      0         0         0        0.0000
PHI    87.26549     61   2676    417   7840  18686  33486      3154     63166     4118.9375
PIT    67.71523      0      0      4      0      0      3         4         7        0.4375
SDP    90.97336   1029    761     76  31849  36835  17902      1866     88452     5640.1250
SEA    84.17835      0    179     18  12433  17751  18821       197     49202     3086.3125
SFG    82.39347      8     20      3   1231   4662  12078        31     18002     1126.8750
STL    85.92350     41   1012  31337    724   4351  14471     32390     51936     3311.8125
TBD    85.69526      4     29      0  24307  21327  17779        33     63446     3967.4375
TEX    76.47171      0      3      1    398   1320   2611         4      4333      271.0000
TOR    85.87262      2     24      0  25192  22247  17619        26     65084     4069.3750
WSN    59.16793      0      0      0      0      0      0         0         0        0.0000

In [20]:
# How many games does each team win in each seeding?
sim_results.query('lg_rank <= 6').groupby(['team', 'lg_rank'])['W'].mean().unstack()

lg_rank           1           2          3          4          5          6
team
ANA             NaN         NaN        NaN  87.049587  85.551724  83.899281
ARI             NaN         NaN        NaN        NaN  86.600000  83.644444
ATL      101.533873   97.603752  93.936376  94.301901  91.493232  88.836752
BAL             NaN         NaN        NaN  87.362832  85.152985  83.788768
BOS       99.200000   97.183673  94.000000  90.784064  87.579356  85.491332
CHC             NaN         NaN  81.666667        NaN  86.000000  83.578947
CHW      102.000000   93.742424  87.414680  87.880269  86.281854  84.769040
CIN             NaN         NaN  80.500000        NaN        NaN  83.000000
CLE             NaN   92.846154  86.943232  87.689513  86.045168  84.534436
COL             NaN         NaN        NaN        NaN        NaN  83.000000
DET             NaN         NaN  82.222222        NaN  83.900000  82.794118
FLA             NaN   92.000000  90.750000  90.083333  88.288732  85.843304
HOU      106.602432  101.422054  93.468051  93.200000  90.326923  88.571429
KCR             NaN         NaN  80.333333        NaN        NaN  81.600000
LAD      105.282622   99.461685  95.437500  97.373461  93.875969  91.052632
MIL       99.440789   96.048763  90.068672  91.386282  89.228095  87.167944
MIN      100.555556   95.524390  88.762601  88.203943  86.491357  85.015465
NYM      102.039569   97.960593  94.111696  94.487415  91.738734  89.134175
NYY      108.596946  103.302242  97.266667  95.806723  92.000000        NaN
PHI       98.540984   95.445067  92.827338  92.818112  90.289575  87.658215
PIT             NaN         NaN  81.250000        NaN        NaN  84.000000
SDP      100.402332   97.173456  94.592105  94.589909  90.855871  88.028824
SEA             NaN   94.385475  90.722222  90.124025  87.462791  85.338133
SFG       97.125000   95.450000  93.666667  91.982128  89.392535  86.904206
STL       98.707317   95.150198  89.137473  91.305249  89.054700  86.883837
TBD       99.500000   97.896552        NaN  90.462418  87.436630  85.406097
TEX             NaN   90.333333  86.000000  87.919598  85.886364  84.256990
TOR       99.000000   95.708333        NaN  90.486662  87.505641  85.436347

In [26]:
# How many wins do teams have in division-winning seasons?
sim_results.query('div_win').groupby('team')['W'].mean()

team
ATL     97.781211
BOS     97.409836
CHC     81.666667
CHW     87.433959
CIN     80.500000
CLE     86.954998
DET     82.222222
FLA     91.705882
HOU    102.418110
KCR     80.333333
LAD    104.625526
MIL     90.486418
MIN     88.825148
NYM     98.322561
NYY    107.531898
PHI     95.158846
PIT     81.250000
SDP     98.848875
SEA     94.050761
SFG     95.709677
STL     89.337450
TBD     98.090909
TEX     89.250000
TOR     95.961538
Name: W, dtype: float64

In [22]:
# How often do teams win the division when they win 95 games?
finishes = sim_results.query('W>=95').groupby('team').agg(num_seasons=('div_win', len), div_wins=('div_win', sum))
finishes['pct_win'] = finishes['div_wins']/finishes['num_seasons']
finishes

      num_seasons  div_wins   pct_win
team
ATL         51113     34644  0.677792
BOS          3361        51  0.015174
CHW           272       272  1.000000
CLE            92        92  1.000000
FLA             1         0  0.000000
HOU         96680     96633  0.999514
LAD         99041     97621  0.985663
MIL          8898      8851  0.994718
MIN          3415      3415  1.000000
NYM         63420     49669  0.783176
NYY         99877     99803  0.999259
PHI          4330      1890  0.436490
SDP         20326      1738  0.085506
SEA           757        84  0.110964
SFG           241        24  0.099585
STL          2007      1946  0.969606
TBD          1913        32  0.016728
TEX             2         0  0.000000
TOR          2051        18  0.008776

In [23]:
pads95 = sim_results.query('team=="SDP" and W>=95').reset_index()['iter']
sim_results.query('iter in @pads95 and div=="NW"').groupby('team')['W'].mean()

team
ARI     69.939634
COL     67.459166
LAD    103.479976
SDP     96.863869
SFG     81.632294
Name: W, dtype: float64